.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both !important;
  height: 0;
}
* html .clearfix {
  position: relative;
  zoom: 1;
}
* + html .clearfix {
  position: relative;
  zoom: 1;
}
.form-container-unique {
  padding: 0;
}
.form-container-unique.overlay-show form {
  opacity: 0.1;
}
.form-container-unique .title {
  display: none;
}
.form-container-unique .form-group {
  margin-bottom: 6px;
}
.form-container-unique .form-control {
  width: 100%;
  border: 1px solid #ccc;
  height: 50px;
  font-size: 18px;
}
.form-container-unique .form-control::-webkit-input-placeholder {
  color: #9B9999;
}
.form-container-unique .form-control::-moz-placeholder {
  color: #9B9999;
}
.form-container-unique .form-control:-moz-placeholder {
  color: #9B9999;
}
.form-container-unique .form-control:-ms-input-placeholder {
  color: #9B9999;
}
.form-container-unique .form-control:input-placeholder {
  color: #9B9999;
}
.form-container-unique .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}
.form-container-unique .form-control:focus::-moz-placeholder {
  color: transparent;
}
.form-container-unique .form-control:focus:-moz-placeholder {
  color: transparent;
}
.form-container-unique .form-control:focus:-ms-input-placeholder {
  color: transparent;
}
.form-container-unique .overlay-wrapper {
  background: none;
  color: #323232;
}
.form-container-unique .overlay-wrapper.show {
  z-index: 300;
  opacity: 1;
  -webkit-transform: scale(1, 1);
     -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}
.form-container-unique .ti-message-wrapper {
  padding-top: 30px;
  text-align: left;
  font-size: 16px;
  overflow: hidden;
  overflow-y: auto;
}
.form-container-unique .ti-message-wrapper ul {
  margin-left: 1em;
}
.form-container-unique .close-overlay {
  font-weight: bold;
  font-size: 18px;
  color: #323232;
}
.form-container-unique .progress-overlay:before {
  background: url(../images/loader-pms.gif) 0 0 no-repeat;
}
.form-container-unique .success-overlay:after {
  background: url(../images/loader-pms.gif) 0 0 no-repeat;
}
.form-container-unique .form-actions .register-btn {
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  color: #36434f;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 34px;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4);
  border-bottom: 6px solid #b88302;
  border-radius: 4px;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  background-color: #ecc125;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fee144), to(#dba007));
  background-image: -webkit-linear-gradient(top, #fee144, #dba007);
  background-image: -moz-linear-gradient(top, #fee144, #dba007);
  background-image: linear-gradient(to bottom, #fee144, #dba007);
  height: 67px;
  line-height: 61px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding-left: 40px;
  padding-right: 40px;
}
.form-container-unique .form-actions .register-btn:before {
  content: '';
  display: block;
  background: url(../images/button-go-arrows.png) 0 0 no-repeat;
  width: 31px;
  height: 50px;
  position: absolute;
  left: -1px;
  top: 50%;
  margin-top: -25px;
}
.form-container-unique .form-actions .register-btn:after {
  content: '';
  opacity: 1;
  display: block;
  background: url(../images/button-go-arrows.png) -31px 0 no-repeat;
  width: 31px;
  height: 50px;
  position: absolute;
  right: -1px;
  top: 50%;
  margin-top: -25px;
}
.form-container-unique .form-actions .register-btn:hover {
  background-color: #f0ce55;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fee144), to(#dba007));
  background-image: -webkit-linear-gradient(bottom, #fee144, #dba007);
  background-image: -moz-linear-gradient(bottom, #fee144, #dba007);
  background-image: linear-gradient(to top, #fee144, #dba007);
}
.signup-widget .form-container-unique {
  border-radius: 0;
}
.signup-widget .form-container-unique:before,
.signup-widget .form-container-unique:after {
  content: " ";
  display: table;
}
.signup-widget .form-container-unique:after {
  clear: both !important;
  height: 0;
}
* html .signup-widget .form-container-unique {
  position: relative;
  zoom: 1;
}
* + html .signup-widget .form-container-unique {
  position: relative;
  zoom: 1;
}
.signup-widget .form-container-unique a {
  color: #ffffff;
}
.signup-widget .form-container-unique .form-actions {
  float: left;
  width: 100%;
  max-width: 300px;
  margin-left: 6px;
  margin-right: 6px;
}
.signup-widget .form-container-unique .form-actions .register-btn {
  font-size: 24px;
  width: 100%;
  height: 50px;
  line-height: 46px;
  overflow: hidden;
}
.signup-widget .form-container-unique .form-actions .login-btn {
  font-size: 24px;
  width: 100%;
  height: 50px;
  line-height: 46px;
  overflow: hidden;
}
.signup-widget .form-container-unique .form-group {
  float: left;
  width: 100%;
  max-width: 300px;
  margin-right: 6px;
}
.signup-widget .form-container-unique .row {
  float: left;
  max-width: 306px;
}
.signup-widget .form-container-unique .row .form-group {
  max-width: none;
}
