<div class="{{classes}}" id="regForm">
  <div class="title form-title" *ngIf="enableTitle" [innerHtml]="vocabulary.FORM.REG_TITLE"></div>
  <div class="form-container-unique ti-form-1" id="form1">
    <form [formGroup]="regForm" id="ti-{{id}}-form" (ngSubmit)="onSubmit(regForm)">
      <div class="form-group field-ti0form-first_name" [class.has-error]="(regForm.get('firstname').touched && regForm.get('firstname').invalid) || regErr.firstname"
        [class.has-success]="(regForm.get('firstname').touched && regForm.get('firstname').valid) && !regErr.firstname">
        <input type="text" (click)="focusedField = 'firstname'" (mouseleave)="focusedField = ''" name="first_name" formControlName="firstname" id="ti{{id}}form-first_name" class="form-control" placeholder="{{vocabulary.PLACEHOLDERS.FIRST_NAME}}">
        <p class="help-block help-block-error"
        [class.block]="((regForm.get('firstname').touched && regForm.get('firstname').invalid) || regErr.firstname) && focusedField === 'firstname'">{{ regErr.firstname ? regErr.firstname : vocabulary.FORM.REQUIRED_FIELD}}</p>
      </div>
      <div class="form-group field-ti0form-last_name" [class.has-error]="(regForm.get('lastname').touched && regForm.get('lastname').invalid) || regErr.lastname"
        [class.has-success]="(regForm.get('lastname').touched && regForm.get('lastname').valid) && !regErr.lastname">
        <input type="text" (click)="focusedField = 'lastname'" (mouseleave)="focusedField = ''" name="last_name" formControlName="lastname" id="ti{{id}}form-last_name" class="form-control" placeholder="{{vocabulary.PLACEHOLDERS.LAST_NAME}}">
        <p class="help-block help-block-error" [class.block]="((regForm.get('lastname').touched && regForm.get('lastname').invalid) || regErr.lastname) && focusedField === 'lastname'">{{regErr.lastname ? regErr.lastname : vocabulary.FORM.REQUIRED_FIELD}}</p>
      </div>
      <div class="form-group field-ti0form-email" [class.has-error]="(regForm.get('email').touched && regForm.get('email').invalid) || regErr.email"
        [class.has-success]="(regForm.get('email').touched && regForm.get('email').valid) && !regErr.email">
        <input type="email" name="email" (click)="focusedField = 'email'" (mouseleave)="focusedField = ''" formControlName="email" id="ti{{id}}form-email" class="form-control" placeholder="{{vocabulary.PLACEHOLDERS.EMAIL_ADDRESS}}">
        <p class="help-block help-block-error" [class.block]="((regForm.get('email').touched && regForm.get('email').invalid) || regErr.email) && focusedField === 'email'">{{regErr.email ? regErr.email : vocabulary.FORM.REQUIRED_FIELD}}</p>
      </div>
      <div class="form-group field-ti0form-password" [class.has-error]="(regForm.get('password').touched && regForm.get('password').invalid) || regErr.password"
        [class.has-success]="(regForm.get('password').touched && regForm.get('password').valid) && !regErr.password">
        <input type="password" name="password" (click)="focusedField = 'password'" (mouseleave)="focusedField = ''" formControlName="password" id="ti{{id}}form-password" class="form-control" placeholder="{{vocabulary.PLACEHOLDERS.PASSWORD}}">
        <p class="help-block help-block-error" [class.block]="((regForm.get('password').touched && regForm.get('password').invalid) || regErr.password) && focusedField === 'password'">{{regErr.password ? regErr.password : vocabulary.FORM.REQUIRED_FIELD}}</p>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group field-ti0form-area_code" [class.has-error]="(regForm.get('phone_number').touched && regForm.get('phone_number').invalid) || regErr.phone_number">
            <input type="text" (click)="focusedField = 'area_code'" (mouseleave)="focusedField = ''" name="area_code" formControlName="phone_code" id="ti{{id}}form-area_code" class="form-control" placeholder="{{vocabulary.PLACEHOLDERS.AREA_CODE}}">
            <p class="help-block help-block-error"
            [class.block]="((regForm.get('phone_number').touched && regForm.get('phone_number').invalid) || regErr.phone_number) && focusedField === 'area_code'">{{regErr.phone_number ? regErr.phone_number : vocabulary.FORM.REQUIRED_FIELD}}</p>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="form-group field-ti0form-phone" [class.has-error]="(regForm.get('phone_number').touched && regForm.get('phone_number').invalid) || regErr.phone_number"
            [class.has-success]="(regForm.get('phone_number').touched && regForm.get('phone_number').valid) && !regErr.phone_number">
            <input type="text" name="phone" formControlName="phone_number" id="ti{{id}}form-phone"
              (click)="focusedField = 'phone_number'" (mouseleave)="focusedField = ''" class="form-control" placeholder="{{vocabulary.PLACEHOLDERS.PHONE}}">
            <p class="help-block help-block-error" [class.block]="((regForm.get('phone_number').touched && regForm.get('phone_number').invalid) || regErr.phone_number) && focusedField === 'phone_number'">
              {{regErr.phone_number ? regErr.phone_number : vocabulary.FORM.REQUIRED_FIELD}}
            </p>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="button button-primary register-btn register-btn-{{service.language}}" [class.de]="service.language === 'de'">
        {{vocabulary?.VIDEO?.FORM_BUTTON || vocabulary?.FORM?.SUBMIT_BUTTON}} </button>
      </div>
    </form>
    <div class="progress-overlay overlay-wrapper" [class.show]="isLoading">{{vocabulary.FORM.REGISTRATION_WAIT}}</div>
    <div class="error-overlay overlay-wrapper" [class.show]="brokeReason?.length">
      <div class="title">{{brokeReason}}</div>
    </div>
  </div>
</div>
<ng-container *ngIf="techfinUrl?.length">
  <form
    [action]="techfinUrl"
    method="POST"
    target="iframe"
    #techfinForm>
  </form>
</ng-container>
