<div id="popup" class="exit_popup" style="display: none;" *ngIf="service.showLeaveModals && !modalService.getModalsCount()">
  <div class="exit_popup_overlay"></div>
  <div class="popup_inner">
    <div class="popup_content">
      <div class="popup_content_inner">
        <div class="title">
          {{vocabulary.MODALS.EXIT_POPUP_TITLE}}!
        </div>
        <div class="subtitle">
          {{vocabulary.MODALS.EXIT_POPUP_SUBTITLE}}
        </div>
        <div class="description">
          {{vocabulary.MODALS.EXIT_POPUP_DESC_1}}
          <span>{{vocabulary.MODALS.EXIT_POPUP_DESC_2}}</span>{{vocabulary.MODALS.EXIT_POPUP_DESC_3}}!
        </div>
        <form [formGroup]="optInForm" (ngSubmit)="onSubmit(optInForm);" class="popup_form" name="popform" id="popform">
          <div class="title">{{vocabulary.MODALS.EXIT_POPUP_FORM_TITLE_1}}
            <b>{{vocabulary.MODALS.EXIT_POPUP_FORM_TITLE_2}}</b>{{vocabulary.MODALS.EXIT_POPUP_FORM_TITLE_3}}
            <span>{{vocabulary.MODALS.EXIT_POPUP_FORM_TITLE_4}}</span>{{vocabulary.MODALS.EXIT_POPUP_FORM_TITLE_5}}
          </div>
          <div class="form-group field-ti0form-first_name" [class.has-error]="(optInForm.get('name').touched && optInForm.get('name').invalid) || regErr.name">
            <input name="name" formControlName="name" id="name1" class="form-control" placeholder="{{vocabulary.PLACEHOLDERS.NAME}}"
              type="text">
          </div>
          <div class="form-group field-ti0form-email" [class.has-error]="(optInForm.get('email').touched && optInForm.get('email').invalid) || regErr.email">
            <input name="email" formControlName="email" placeholder="{{vocabulary.PLACEHOLDERS.EMAIL}}" id="email1" class="form-control"
              type="email">
          </div>
          <div class="form-actions">
            <button type="submit" class="button register-btn" id="reButt">
              {{vocabulary.FORM.SUBMIT_BUTTON}}
            </button>
          </div>
        </form>
        <a class="close_button" style="" onclick="$('#popup').css('display','none');mousebottom = 0;setTimeout(function(){pu=1;},5000);"></a>
      </div>
    </div>
  </div>
</div>

<div id="popup_risk" class="popupinfo" style="display: none;">
  <div class="exit_popup_overlay"></div>
  <a class="close_button" style="" onclick="$('#popup_risk').css('display','none');$('body').removeClass('modal');"></a>
  <div class="popup_inner">
    <div class="popup_content">
      <div class="popup_content_inner">
        <div class="popup-content-wrapper">
          <div class="popup-header"></div>
        </div>
        <div class="popup-form-wrapper" [innerHtml]="vocabulary.MODALS.DISCLAMER">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="popup_terms" class="popupinfo" style="display: none;">
  <div class="exit_popup_overlay"></div>
  <a class="close_button" style="" onclick="$('#popup_terms').css('display','none');$('body').removeClass('modal');"></a>
  <div class="popup_inner">
    <div class="popup_content">
      <div class="popup_content_inner">
        <div class="popup-content-wrapper">
          <div class="popup-header"></div>
        </div>
        <div class="popup-form-wrapper" [innerHtml]="vocabulary.MODALS.TNC"></div>
      </div>
    </div>
  </div>
</div>
<div id="popup_privacy" class="popupinfo" style="display: none;">
  <div class="exit_popup_overlay"></div>
  <a class="close_button" style="" onclick="$('#popup_privacy').css('display','none');$('body').removeClass('modal');"></a>
  <div class="popup_inner">
    <div class="popup_content">
      <div class="popup_content_inner">
        <div class="popup-content-wrapper">
          <div class="popup-header"></div>
        </div>
        <div class="popup-form-wrapper" [innerHtml]="vocabulary.MODALS.PRIVACY"></div>
      </div>
    </div>
  </div>
</div>

<div id="wrapper">
  <div id="header">
    <div class="header_inner">
      <div class="header_content">
        <div id="logo">
          <a href="">1K Daily Profit</a>
          <img id="logoflag" style="float:right;width:48px;height:48px;" src="../../../../assets/a1kdailyprofit/images/tr.gif">
        </div>
      </div>
    </div>
  </div>
  <div id="container">
    <div class="section section_video">
      <div class="section_container">
        <div class="row">
          <div class="col-md-8">
            <div class="video">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="620" height="370" [src]="videoUrl | safe" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <form [formGroup]="optInForm" (ngSubmit)="onSubmit(optInForm)" class="reg_form form-trigger" name="popform" id="popform">
              <div class="title replacement1">
                {{vocabulary.FORM.OPTIN_TITLE_1}}
                <span>1K DAILY PROFIT</span>
                {{vocabulary.FORM.OPTIN_TITLE_2}}
              </div>
              <div class="waiting replacement2">
                <div class="waiting">
                  <span id="pnum" class="pnum"></span> {{vocabulary.WAITING.DESC_1}}
                  <span id="pplace" class="pplace">{{country}}</span> {{vocabulary.WAITING.DESC_2}}
                  <span>1K Daily Profit</span> {{vocabulary.WAITING.DESC_3}}
                </div>
              </div>
              <div class="description">
                {{vocabulary.FORM.OPTIN_DESC_1}}
                <span>{{vocabulary.FORM.OPTIN_DESC_2}}</span>{{vocabulary.FORM.OPTIN_DESC_3}}
                <b>1K Daily Profit</b>{{vocabulary.FORM.OPTIN_DESC_4}}
              </div>
              <div class="form-group" [class.has-error]="(optInForm.get('name').touched && optInForm.get('name').invalid) || regErr.name">
                <input name="name" formControlName="name" id="name2" class="form-control" placeholder="{{vocabulary.PLACEHOLDERS.NAME}}"
                  type="text">
              </div>
              <div class="form-group" [class.has-error]="(optInForm.get('email').touched && optInForm.get('email').invalid) || regErr.email">
                <input name="email" formControlName="email" placeholder="{{vocabulary.PLACEHOLDERS.EMAIL}}" id="email2" class="form-control"
                  type="email">
              </div>

              <div class="form-actions">
                <button type="submit" class="button register-btn" id="reButt">
                  {{vocabulary.FORM.OPTIN_BUTTON}}
                </button>
              </div>
            </form>
            <div class="safe">
              <img src="../../../../assets/a1kdailyprofit/images/safe.png" alt="" />
            </div>

          </div>
        </div>

        <div class="waiting replacement2" style="color:#00af10;">
          ACCESS
          <span style="color:#fe1b1b;">1K DAILY PROFIT</span>
          BEFORE YOUR PRIVATE INVITATION EXPIRES…
        </div>
        <div class="waiting replacement1">
          <span id="pnum" class="pnum"></span> {{vocabulary.WAITING.DESC_1}}
          <span id="pplace" class="pplace">{{country}}</span> {{vocabulary.WAITING.DESC_2}}
          <span>1K Daily Profit</span> {{vocabulary.WAITING.DESC_3}}
        </div>
      </div>
    </div>

    <div class="section section-check-spots">
      <div class="section_container">
        <div class="controls">

          <a href="#regForm" class="check_spots">
            <span class="button-text">{{vocabulary.CHECK.CONTROLS_DESC_1}}</span>

            <span class="button-arrow">
              <span>{{vocabulary.CHECK.CONTROLS_DESC_2}}
                <span>{{vocabulary.CHECK.CONTROLS_DESC_3}}?</span>
              </span>
            </span>
          </a>

        </div>
        <div class="description">
          <div class="title">
            {{vocabulary.CHECK.TITLE_1}}
            <span>1K Daily Profit</span>{{vocabulary.CHECK.TITLE_2}}!
          </div>

          <div class="desc">
            <span>{{vocabulary.CHECK.DESC_1}}!</span>{{vocabulary.CHECK.DESC_2}}
          </div>
        </div>
      </div>
    </div>

    <div class="section section_stephen">
      <div class="section_container">
        <div class="stephen_wrapper">
          <img src="../../../../assets/a1kdailyprofit/images/john.jpg" alt="" />
          <div class="stephen_descrtiption">

            <div class="title">
              {{vocabulary.STEPHEN.OPTIN_TITLE}}
            </div>
            <div class="subtitle">
              {{vocabulary.STEPHEN.OPTIN_SUBTITLE}}
            </div>

            <div class="content">
              {{vocabulary.STEPHEN.OPTIN_DESC_1}}
              <br/>
              <br/>{{vocabulary.STEPHEN.OPTIN_DESC_2}}
              <br/>
              <br/>{{vocabulary.STEPHEN.OPTIN_DESC_3}}
              <br/>
              <br/>{{vocabulary.STEPHEN.OPTIN_DESC_4}}
              <br/>
              <br/>{{vocabulary.STEPHEN.OPTIN_DESC_5}}

            </div>

            <div class="sign">
              <img src="../../../../assets/a1kdailyprofit/images/john-sign.png" alt="" />
            </div>

            <div class="contant">
              {{vocabulary.STEPHEN.OPTIN_DESC_6}}
              <br/>{{vocabulary.STEPHEN.OPTIN_DESC_7}}
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="section section_socials">
      <div class="section_container">
        <div class="section_title">
          {{vocabulary.SOCIALS.TITLE_1}}
          <span>1K Daily Profit</span>
          {{vocabulary.SOCIALS.TITLE_2}}
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="../../../../assets/a1kdailyprofit/images{{service.language !== 'en' ? '/'+service.language : ''}}/facebook.png"
              alt="" />
          </div>
          <div class="col-md-6">
            <img src="../../../../assets/a1kdailyprofit/images{{service.language !== 'en' ? '/'+service.language : ''}}/twitter.png"
              alt="" />
          </div>
        </div>

      </div>
    </div>

    <div class="section section-features">
      <div class="section_container">
        <div class="section_title">{{vocabulary.FEATURES.TITLE}}</div>

        <div class="section_description">
          {{vocabulary.FEATURES.DESC}}
        </div>

        <ul class="features_list">
          <li>
            <div class="title">
              {{vocabulary.FEATURES.TITLE_1}}
            </div>
            <div class="desc">{{vocabulary.FEATURES.DESC_1}}</div>
          </li>
          <li>
            <div class="title">{{vocabulary.FEATURES.TITLE_2}}</div>
            <div class="desc">{{vocabulary.FEATURES.DESC_2}}</div>
          </li>
          <li>
            <div class="title">{{vocabulary.FEATURES.TITLE_3}}</div>
            <div class="desc">{{vocabulary.FEATURES.DESC_3}}</div>
          </li>
          <li>
            <div class="title">{{vocabulary.FEATURES.TITLE_4}}</div>
            <div class="desc">{{vocabulary.FEATURES.DESC_4}}</div>
          </li>
        </ul>

      </div>
    </div>

    <div class="section section_faq">
      <div class="section_container">
        <div class="section_title">
          <span>{{vocabulary.FAQ.TITLE_1}}</span> - {{vocabulary.FAQ.TITLE_2}}</div>

        <div class="faq_wrapper">
          <ul class="faq_list">
            <li>
              <div class="question">{{vocabulary.FAQ.Q_1}}?</div>
              <div class="answer">
                {{vocabulary.FAQ.A_1}}
              </div>
            </li>
            <li>
              <div class="question">
                {{vocabulary.FAQ.Q_2}}?
              </div>
              <div class="answer">
                {{vocabulary.FAQ.A_2}}
              </div>
            </li>
            <li>
              <div class="question">
                {{vocabulary.FAQ.Q_3}}?
              </div>
              <div class="answer">
                {{vocabulary.FAQ.A_3}}
              </div>
            </li>
            <li>
              <div class="question">
                {{vocabulary.FAQ.Q_4}}?
              </div>
              <div class="answer">
                {{vocabulary.FAQ.A_4}}
              </div>
            </li>
            <li>
              <div class="question">
                {{vocabulary.FAQ.Q_5}}?
              </div>
              <div class="answer">
                {{vocabulary.FAQ.A_5}}
              </div>
            </li>
            <li>
              <div class="question">
                {{vocabulary.FAQ.Q_6}}?
              </div>
              <div class="answer">
                {{vocabulary.FAQ.A_6}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="section section_reg">
      <div class="section_container">

        <div class="section_title">
          {{vocabulary.REG.TITLE_1}}
        </div>
        <div class="section_subtitle">
          {{vocabulary.REG.SUBTITLE_1}}
          <span>{{vocabulary.REG.SUBTITLE_2}}</span>?
        </div>
        <div class="section_description">
          {{vocabulary.REG.DESC_1}}
          <span>{{vocabulary.REG.DESC_2}}</span>{{vocabulary.REG.DESC_3}}
          <b>1K Daily Profit</b>{{vocabulary.REG.DESC_4}}
        </div>
        <form [formGroup]="optInForm" (ngSubmit)="onSubmit(optInForm)" class="reg_form form-trigger">
          <div class="fields">
            <div class="form-group" [class.has-error]="(optInForm.get('name').touched && optInForm.get('name').invalid) || regErr.name">
              <input name="name" formControlName="name" id="name3" class="form-control" placeholder="{{vocabulary.PLACEHOLDERS.NAME}}"
                type="text">
            </div>
            <div class="form-group" [class.has-error]="(optInForm.get('email').touched && optInForm.get('email').invalid) || regErr.email">
              <input name="email" formControlName="email" placeholder="{{vocabulary.PLACEHOLDERS.EMAIL}}" id="email3" class="form-control"
                type="email">
            </div>
          </div>

          <div class="buttons">
            <button type="submit" class="button button-lg button-limited form-submit">
              {{vocabulary.REG.BUTTON}}!
              <span>{{vocabulary.REG.LIMITED}}
                <span>{{vocabulary.REG.TIME}}</span> {{vocabulary.REG.OFFER}}!</span>
            </button>
          </div>

        </form>

        <div class="safe">
          <img src="../../../../assets/a1kdailyprofit/images/safe2.png" alt="" />
        </div>

      </div>
    </div>


  </div>
</div>

<div id="footer">
  <div class="footer-content">

    <div class="footer_note">
      <p>
        <b>{{vocabulary.FOOTER.NOTE_TITLE}}:</b> {{vocabulary.FOOTER.NOTE_DESC}}</p>
    </div>

    <ul class="footer_nav">
      <li>
        <a href="javascript:$('#popup_risk').css('display','block');$('body').addClass('modal');void(0);">{{vocabulary.FOOTER.DISCLAIMER}}</a>
      </li>
      <li>
        <a href="javascript:$('#popup_terms').css('display','block');$('body').addClass('modal');void(0);">{{vocabulary.FOOTER.TERMS}}</a>
      </li>
      <li>
        <a href="javascript:$('#popup_privacy').css('display','block');$('body').addClass('modal');void(0);">{{vocabulary.FOOTER.PRIVACY}}</a>
      </li>
      <li>
        <a href="">{{vocabulary.FOOTER.REPORT_ABUSE}}</a>
      </li>
      <li>
        <a href="">{{vocabulary.FOOTER.AFFILIATE}}</a>
      </li>
      <li>
        <a href="">{{vocabulary.FOOTER.SUPPORT}}</a>
      </li>
    </ul>

  </div>
</div>

<div class="signup-widget lp-widget shown" id="widget">
  <div class="widget-inner">

    <div class="title">
      {{vocabulary.WIDGET.TITLE}}!
    </div>

    <form [formGroup]="optInForm" (ngSubmit)="onSubmit(optInForm)" class="reg_form widget-form form-trigger" id="regForm">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group" [class.has-error]="(optInForm.get('name').touched && optInForm.get('name').invalid) || regErr.name">
            <input name="name" formControlName="name" id="name4" class="form-control" placeholder="{{vocabulary.PLACEHOLDERS.NAME}}"
              type="text">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group" [class.has-error]="(optInForm.get('email').touched && optInForm.get('email').invalid) || regErr.email">
            <input name="email" formControlName="email" placeholder="{{vocabulary.PLACEHOLDERS.EMAIL}}" id="email4" class="form-control"
              type="email">
          </div>
        </div>
        <div class="col-sm-5">
          <div class="buttons">
            <button type="submit" class="button form-submit">
              {{vocabulary.FORM.SUBMIT_BUTTON}}
            </button>
          </div>
        </div>
      </div>

    </form>

  </div>
</div>

<ng-template #modalBeforeLeave>
  <div id="wrapper">
    <div id="header">
      <div class="header_inner">
        <div class="header_content">
          <div class="header_exit_slogan">
            {{vocabulary.MODALS.BEFORE_LEAVE_TITLE}}!
          </div>
        </div>
      </div>
    </div>
    <div id="container">

      <div class="section section_exit_page">
        <div class="section_container">

          <div class="section_content">

            <div class="section_title">
              {{vocabulary.MODALS.BEFORE_LEAVE_SUBTITLE}}
            </div>

            <div class="section_description">
              {{vocabulary.MODALS.BEFORE_LEAVE_DESC_1}}
              <span>{{vocabulary.MODALS.BEFORE_LEAVE_DESC_2}}</span>.
            </div>

            <form class="reg_form form-trigger" [formGroup]="optInForm" (ngSubmit)="onSubmit(optInForm);" name="mf1">
              <div class="title">
                {{vocabulary.MODALS.BEFORE_LEAVE_FORM_TITLE_1}}
                <span>{{vocabulary.MODALS.BEFORE_LEAVE_FORM_TITLE_2}}</span>{{vocabulary.MODALS.BEFORE_LEAVE_FORM_TITLE_3}}:
              </div>
              <div class="form-group" [class.has-error]="(optInForm.get('name').touched && optInForm.get('name').invalid) || regErr.name">
                <input name="name" formControlName="name" id="name5" class="form-control" placeholder="{{vocabulary.PLACEHOLDERS.NAME}}"
                  type="text">
              </div>
              <div class="form-group" [class.has-error]="(optInForm.get('email').touched && optInForm.get('email').invalid) || regErr.email">
                <input name="email" formControlName="email" placeholder="{{vocabulary.PLACEHOLDERS.EMAIL}}" id="email5" class="form-control"
                  type="email">
              </div>
              <div class="buttons">
                <button type="submit" class="button form-submit">{{vocabulary.FORM.SUBMIT_BUTTON}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>
