<div id="popup_risk" class="popupinfo" style="display: none;">
  <div class="exit_popup_overlay"></div>
  <a class="close_button" style="" onclick="$('#popup_risk').css('display','none');$('body').removeClass('modal');"></a>
  <div class="popup_inner">
    <div class="popup_content">
      <div class="popup_content_inner">
        <div class="popup-content-wrapper">
          <div class="popup-header"></div>
        </div>
        <div class="popup-form-wrapper" [innerHtml]="vocabulary.MODALS.DISCLAMER"></div>
      </div>
    </div>
  </div>
</div>
<div id="popup_terms" class="popupinfo" style="display: none;">
  <div class="exit_popup_overlay"></div>
  <a class="close_button" style="" onclick="$('#popup_terms').css('display','none');$('body').removeClass('modal');"></a>
  <div class="popup_inner">
    <div class="popup_content">
      <div class="popup_content_inner">
        <div class="popup-content-wrapper">
          <div class="popup-header"></div>
        </div>
        <div class="popup-form-wrapper" [innerHtml]="vocabulary.MODALS.TNC"></div>
      </div>
    </div>
  </div>
</div>
<div id="wrapper">
  <div id="header">
    <div class="header_inner">
      <div class="header_content">
        <div id="logo">
          <a href="">1K Daily Profit</a>
        </div>
        <div class="header_slogan">
          {{vocabulary.HEADER.SLOGAN}}!
        </div>

      </div>
    </div>
  </div>
  <div id="container">

    <div class="section section_video">
      <div class="section_container">

        <div class="row">
          <div class="col-md-8">
            <div class="video">

              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="620" height="370" [src]="videoUrl | safe" frameborder="0" allowfullscreen=""></iframe>
              </div>
            </div>

            <ul class="member_steps">
              <li>
                <div class="num">1</div>
                <div class="desc">{{vocabulary.MEMBER_STEPS.STEP_1}}</div>
              </li>
              <li>
                <div class="num">2</div>
                <div class="desc">{{vocabulary.MEMBER_STEPS.STEP_2}}</div>
              </li>
              <li>
                <div class="num">3</div>
                <div class="desc">{{vocabulary.MEMBER_STEPS.STEP_3}}</div>
              </li>
            </ul>

          </div>
          <div class="col-md-4">
            <reg-form [regErr]="regErr" [brokeReason]="brokeReason" [enableTitle]="true" [classes]="'reg_form members_page'" [regForm]="regForm" [vocabulary]="vocabulary"
              (submit)="onSubmit($event)" [isLoading]="isLoading"></reg-form>
            <div class="safe">
              <img src="../../../../assets/a1kdailyprofit/images/safe.png" alt="" />
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="section section-check-spots members-page">
      <div class="section_container">
        <div class="controls members-page">

          <div class="harry">
            <span>{{vocabulary.SPOTS.HURRY_1}}</span>
            <span class="spl_num" id="fsnum"></span>
            <span>{{vocabulary.SPOTS.HURRY_2}}!</span>
          </div>

        </div>
        <div class="description">
          <div class="title">
            {{vocabulary.SPOTS.TITLE_1}}
            <span>1K Daily Profit</span>{{vocabulary.SPOTS.TITLE_2}}
            <span class="sel">{{vocabulary.SPOTS.TITLE_3}}</span>{{vocabulary.SPOTS.TITLE_4}}
          </div>

          <div class="desc">
            <span>{{vocabulary.SPOTS.DESC_1}}</span>{{vocabulary.SPOTS.DESC_2}}
          </div>
        </div>
      </div>
    </div>

    <div class="section section_stephen members_page">
      <div class="section_container">
        <div class="stephen_wrapper">
          <img src="../../../../assets/a1kdailyprofit/images/john2.jpg" alt="" />
          <div class="stephen_descrtiption">

            <div class="title">
              {{vocabulary.STEPHEN.SIGNUP_TITLE}}!
            </div>

            <div class="content">
              {{vocabulary.STEPHEN.SIGNUP_DESC_1}}
              <br/>
              <br/>{{vocabulary.STEPHEN.SIGNUP_DESC_2}}
              <br/>
              <br/>{{vocabulary.STEPHEN.SIGNUP_DESC_3}}
              <br/>
              <br/>{{vocabulary.STEPHEN.SIGNUP_DESC_4}}
              <br/>
              <br/>{{vocabulary.STEPHEN.SIGNUP_DESC_5}}
            </div>

            <div class="sign">
              <img src="../../../../assets/a1kdailyprofit/images/john-sign.png" alt="">
            </div>

            <div class="content">
              {{vocabulary.STEPHEN.SIGNUP_DESC_6}}
              <br/>{{vocabulary.STEPHEN.SIGNUP_DESC_7}}
            </div>
          </div>


        </div>
      </div>
    </div>


    <div class="section setion_map">
      <div class="section_container">
        <div class="section_title">{{vocabulary.PROFITS.TITLE}}</div>

        <div class="map_wrapper">
          <div class="map_item">
            <div class="info">
              <img src="../../../../assets/a1kdailyprofit/images{{service.language !== 'en' ? '/'+service.language : ''}}/vp1.png" alt="" />
              <div class="desc">
                <div class="name">{{vocabulary.PROFITS.NAME_1}}</div>
                <div class="place">
                  <img src="../../../../assets/a1kdailyprofit/images/flags/{{vocabulary.PROFITS.FLAG_1}}.png" alt="" /> {{vocabulary.PROFITS.COUNTRY_1}}
                </div>
              </div>
            </div>
            <div class="content">
              <div class="start">{{vocabulary.PROFITS.SARTING_BALANCE}}:
                <span>{{vocabulary.PROFITS.SYMBOL}}
                  <b>{{vocabulary.PROFITS.BALANCE_1}}</b>
                </span>
              </div>
              <div class="profit">
                {{vocabulary.PROFITS.TO_DATE}}:
                <span>{{vocabulary.PROFITS.PROFIT_1}}</span>
              </div>
              <div class="buttons">
                <a href="../../../../assets/a1kdailyprofit/images/1KDP_Robot_tst1.png" data-lightbox="image-1" data-title="{{vocabulary.PROFITS.NAME_1}} Results"
                  class="button-verified">{{vocabulary.PROFITS.VIEW_ACCOUNT}}</a>
              </div>
            </div>
          </div>
          <div class="map_item">
            <div class="info">
              <img src="../../../../assets/a1kdailyprofit/images{{service.language !== 'en' ? '/'+service.language : ''}}/vp2.png" alt="" />
              <div class="desc">
                <div class="name">{{vocabulary.PROFITS.NAME_2}}</div>
                <div class="place">
                  <img src="../../../../assets/a1kdailyprofit/images/flags/{{vocabulary.PROFITS.FLAG_2}}.png" alt="" />{{vocabulary.PROFITS.COUNTRY_2}}
                </div>
              </div>
            </div>
            <div class="content">
              <div class="start">{{vocabulary.PROFITS.SARTING_BALANCE}}:
                <span>{{vocabulary.PROFITS.SYMBOL}}
                  <b>{{vocabulary.PROFITS.BALANCE_2}}</b>
                </span>
              </div>
              <div class="profit">
                {{vocabulary.PROFITS.TO_DATE}}:
                <span>{{vocabulary.PROFITS.PROFIT_2}}</span>
              </div>
              <div class="buttons">
                <a href="../../../../assets/a1kdailyprofit/images/1KDP_Robot_tst2.png" data-lightbox="image-1" data-title="{{vocabulary.PROFITS.NAME_2}} Results"
                  class="button-verified">{{vocabulary.PROFITS.VIEW_ACCOUNT}}</a>
              </div>
            </div>
          </div>
          <div class="map_item">
            <div class="info">
              <img src="../../../../assets/a1kdailyprofit/images{{service.language !== 'en' ? '/'+service.language : ''}}/vp3.png" alt="" />
              <div class="desc">
                <div class="name">{{vocabulary.PROFITS.NAME_3}}</div>
                <div class="place">
                  <img src="../../../../assets/a1kdailyprofit/images/flags/{{vocabulary.PROFITS.FLAG_3}}.png" alt="" /> {{vocabulary.PROFITS.COUNTRY_3}}
                </div>
              </div>
            </div>
            <div class="content">
              <div class="start">{{vocabulary.PROFITS.SARTING_BALANCE}}:
                <span>{{vocabulary.PROFITS.SYMBOL}}
                  <b>{{vocabulary.PROFITS.BALANCE_3}}</b>
                </span>
              </div>
              <div class="profit">
                {{vocabulary.PROFITS.TO_DATE}}:
                <span>{{vocabulary.PROFITS.PROFIT_3}}</span>
              </div>
              <div class="buttons">
                <a href="../../../../assets/a1kdailyprofit/images/1KDP_Robot_tst3.png" data-lightbox="image-1" data-title="{{vocabulary.PROFITS.NAME_3}} Results"
                  class="button-verified">{{vocabulary.PROFITS.VIEW_ACCOUNT}}</a>
              </div>
            </div>
          </div>
          <div class="map_item">
            <div class="info">
              <img src="../../../../assets/a1kdailyprofit/images{{service.language !== 'en' ? '/'+service.language : ''}}/vp4.png" alt="" />
              <div class="desc">
                <div class="name">{{vocabulary.PROFITS.NAME_4}}</div>
                <div class="place">
                  <img src="../../../../assets/a1kdailyprofit/images/flags/{{vocabulary.PROFITS.FLAG_4}}.png" alt="" /> {{vocabulary.PROFITS.COUNTRY_4}}
                </div>
              </div>
            </div>
            <div class="content">
              <div class="start">{{vocabulary.PROFITS.SARTING_BALANCE}}:
                <span>{{vocabulary.PROFITS.SYMBOL}}
                  <b>{{vocabulary.PROFITS.BALANCE_4}}</b>
                </span>
              </div>
              <div class="profit">
                {{vocabulary.PROFITS.TO_DATE}}:
                <span>{{vocabulary.PROFITS.PROFIT_4}}</span>
              </div>
              <div class="buttons">
                <a href="../../../../assets/a1kdailyprofit/images/1KDP_Robot_tst4.png" data-lightbox="image-1" data-title="{{vocabulary.PROFITS.NAME_4}} Results"
                  class="button-verified">{{vocabulary.PROFITS.VIEW_ACCOUNT}}</a>
              </div>
            </div>
          </div>
          <div class="map_item">
            <div class="info">
              <img src="../../../../assets/a1kdailyprofit/images{{service.language !== 'en' ? '/'+service.language : ''}}/vp5.png" alt="" />
              <div class="desc">
                <div class="name">{{vocabulary.PROFITS.NAME_5}}</div>
                <div class="place">
                  <img src="../../../../assets/a1kdailyprofit/images/flags/{{vocabulary.PROFITS.FLAG_5}}.png" alt="" /> {{vocabulary.PROFITS.COUNTRY_5}}
                </div>
              </div>
            </div>
            <div class="content">
              <div class="start">{{vocabulary.PROFITS.SARTING_BALANCE}}:
                <span>{{vocabulary.PROFITS.SYMBOL}}
                  <b>{{vocabulary.PROFITS.BALANCE_5}}</b>
                </span>
              </div>
              <div class="profit">
                {{vocabulary.PROFITS.TO_DATE}}:
                <span>{{vocabulary.PROFITS.PROFIT_5}}</span>
              </div>
              <div class="buttons">
                <a href="../../../../assets/a1kdailyprofit/images/1KDP_Robot_tst5.png" data-lightbox="image-1" data-title="{{vocabulary.PROFITS.NAME_5}} Results"
                  class="button-verified">{{vocabulary.PROFITS.VIEW_ACCOUNT}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-steps">
      <div class="section_container">
        <div class="section_title">
          {{vocabulary.STEPS.TITLE_1}}
          <b>{{vocabulary.STEPS.TITLE_2}}</b>{{vocabulary.STEPS.TITLE_3}}
          <span>{{vocabulary.STEPS.TITLE_4}}</span>{{vocabulary.STEPS.TITLE_5}}
          <span>{{vocabulary.STEPS.TITLE_6}}</span>
        </div>

        <ul class="more_steps">
          <li>
            <div class="list_num">1</div>
            <div class="desc">{{vocabulary.STEPS.STEP_1}}</div>
          </li>
          <li>
            <div class="list_num">2</div>
            <div class="desc">{{vocabulary.STEPS.STEP_2}}</div>
          </li>
          <li>
            <div class="list_num">3</div>
            <div class="desc">{{vocabulary.STEPS.STEP_3}}</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="section section_reg members_page">
      <div class="section_container">

        <div class="section_title">
          {{vocabulary.SIGNUP_REG.TITLE}}!
        </div>
        <div class="section_description">
          {{vocabulary.SIGNUP_REG.DESC_1}}
          <b>{{vocabulary.SIGNUP_REG.DESC_2}}</b> {{vocabulary.SIGNUP_REG.DESC_3}}!
        </div>

        <div class="reg_form">
          <div class="form-container-unique ti-form-1"></div>
        </div>

        <div class="safe">
          <img src="../../../../assets/a1kdailyprofit/images/safe2.png" alt="" />
        </div>

      </div>
    </div>

    <div class="section section-support">
      <div class="section_container">
        <div class="section_title">
          {{vocabulary.SUPPORT.TITLE}}
        </div>

        <div class="section_description">
          {{vocabulary.SUPPORT.DESC_1}}
          <b>{{vocabulary.SUPPORT.DESC_2}}</b>, {{vocabulary.SUPPORT.DESC_3}}
          <b>{{vocabulary.SUPPORT.DESC_4}}</b>.
        </div>

        <div class="support-contacts">
          {{vocabulary.SUPPORT.CONTACTS}}
          <div>
            <a href="mailto:support@1kdailyprofit.com">support@1kdailyprofit.com</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<div id="footer">
  <div class="footer-content">

    <div class="footer_note members-page">
      <p>
        <b>{{vocabulary.FOOTER.NOTE_TITLE}}:</b> {{vocabulary.FOOTER.NOTE_DESC}}</p>
    </div>

    <ul class="footer_nav">
      <li>
        <a href="javascript:$('#popup_risk').css('display','block');$('body').addClass('modal');void(0);">{{vocabulary.FOOTER.DISCLAIMER}}</a>
      </li>
      <li>
        <a href="javascript:$('#popup_terms').css('display','block');$('body').addClass('modal');void(0);">{{vocabulary.FOOTER.TERMS}}</a>
      </li>
      <li>
          <a href="javascript:$('#popup_privacy').css('display','block');$('body').addClass('modal');void(0);">{{vocabulary.FOOTER.PRIVACY}}</a>
      </li>
      <li>
        <a href="">{{vocabulary.FOOTER.REPORT_ABUSE}}</a>
      </li>
      <li>
        <a href="">{{vocabulary.FOOTER.AFFILIATE}}</a>
      </li>
      <li>
        <a href="">{{vocabulary.FOOTER.SUPPORT}}</a>
      </li>
    </ul>

  </div>
</div>

<div class="signup-widget" id="widget">
  <div class="widget-inner">
    <div class="title">
      {{vocabulary.WIDGET.REG_TITLE}}:
    </div>
    <reg-form [id]="51" [regErr]="regErr" [classes]="'top-form-wrapper member-form scroll-trigger reg-form small-form'" [brokeReason]="brokeReason" [regForm]="regForm" [vocabulary]="vocabulary" (submit)="onSubmit($event)" [isLoading]="isLoading"></reg-form>
  </div>
</div>
