<div class="absolute">
  <a class="logo">
    <img src="../assets/{{env.offer}}/images/favicons/mstile-150x150.png" alt="logo">
  </a>
</div>

<router-outlet></router-outlet>

<div class="cookie-policy" *ngIf="showCookiePolicy && vocStorage?.continent === 'EU'">
  <div class="row text-center">
    <div class="col-xs-12">
      {{vocStorage?.vocabulary?.COOKIE?.PRIVACY || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
      id est laborum.'}}
    </div>
  </div>
  <i class="fa fa-close" (click)="onCloseCookiePolicy()"></i>
</div>
