/* You can add global styles to this file, and also import other style files */
.absolute {
  position: absolute;
  bottom: 100%;
}

.cookie-policy {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999999;
  background: #ffffff;
  padding: 2%;
  .fa-close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 24px;
    cursor: pointer;
  }
}
