@baseTextColor: #3e5c76;
@linkColor: #3e5c76;
@hoverColor: darken(@linkColor, 20%);

.appearance (@param: none) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.transition (@effects) {
  -webkit-transition: @effects;
  -moz-transition: @effects;
  -ms-transition: @effects;
  -o-transition: @effects;
  transition: @effects;
}
.transform (@effects) {
  -moz-transform: @effects;
  -ms-transform: @effects;
  -webkit-transform: @effects;
  -o-transform: @effects;
  transform: @effects;
}

.transform-origin(@params) {
  -webkit-transform-origin: @params;
  -moz-transform-origin: @params;
  -o-transform-origin: @params;
  -ms-transform-origin: @params;
  transform-origin: @params;
}
.shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  -moz-box-shadow: @style @c;
  box-shadow: @style @c;
}
.shadow_none {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.gradient(@c0, @origin: top, @c1, @c2) {
  background-color: @c0;
  background-image: -webkit-linear-gradient(@origin, @c1, @c2);
  background-image: -o-linear-gradient(@origin, @c1, @c2);
  background-image: linear-gradient(@origin, @c1, @c2);
}

.radius(@radius: 3px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.medium_device(@rules) {
  @media screen and (max-width: 1199px) {
    @rules();
  }
}

.tablets(@rules) {
  @media screen and (max-width: 991px) {
    @rules();
  }
}

.phones (@rules) {
  @media screen and (max-width: 767px) {
    @rules();
  }
}

.fontAwesome {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}

html, body {height: 100%;}

html {
  * {
    max-height: 999999px;
  }
}

img {border: 0;}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

.clear {clear: both;}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both !important;
    height: 0;
  }
  * html & {
    position: relative;
    zoom: 1
  }
  * + html & {
    position: relative;
    zoom: 1
  }
}

.trim_spaces {
  //overflow: hidden;
  text-align: center;

  &.left {
    text-align: left;
  }

  .scalable {
    display: inline-block;
    white-space: nowrap;
    .transform-origin(left top);

    &.middle {
      .transform-origin(left center);
    }
  }
}

a {
  .transition(all 0.3s);
  outline: 0;

  &:hover {
    text-decoration: none;
    outline: 0;
  }

  &:active,
  &:focus {
    outline: 0;
  }
}
