.shadow_none {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fontAwesome {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
html * {
  max-height: 999999px;
}
img {
  border: 0;
}
p:last-child {
  margin-bottom: 0;
}
.clear {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both !important;
  height: 0;
}
* html .clearfix {
  position: relative;
  zoom: 1;
}
* + html .clearfix {
  position: relative;
  zoom: 1;
}
.trim_spaces {
  text-align: center;
}
.trim_spaces.left {
  text-align: left;
}
.trim_spaces .scalable {
  display: inline-block;
  white-space: nowrap;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
.trim_spaces .scalable.middle {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: 0;
}
a:hover {
  text-decoration: none;
  outline: 0;
}
a:active,
a:focus {
  outline: 0;
}
