@baseTextColor: #3b3e41;
@linkColor: #009ce5;
@hoverColor: darken(@linkColor, 20%);

.appearance (@param: none) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.transition (@effects) {
  -webkit-transition: @effects;
  -moz-transition: @effects;
  -ms-transition: @effects;
  -o-transition: @effects;
  transition: @effects;
}
.transform (@effects) {
  -moz-transform: @effects;
  -ms-transform: @effects;
  -webkit-transform: @effects;
  -o-transform: @effects;
  transform: @effects;
}

.transform-origin(@params) {
  -webkit-transform-origin: @params;
  -moz-transform-origin: @params;
  -o-transform-origin: @params;
  -ms-transform-origin: @params;
  transform-origin: @params;
}
.shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  -moz-box-shadow: @style @c;
  box-shadow: @style @c;
}
.shadow_none {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.gradient(@c0, @origin: top, @c1, @c2) {
  background-color: @c0;
  background-image: -webkit-linear-gradient(@origin, @c1, @c2);
  background-image: -o-linear-gradient(@origin, @c1, @c2);
  background-image: linear-gradient(@origin, @c1, @c2);
}

.radius(@radius: 3px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.robotoCond {
  font-family: 'Roboto Condensed', sans-serif;
}

.medium_device(@rules) {
  @media screen and (max-width: 1199px) {
    @rules();
  }
}

.tablets(@rules) {
  @media screen and (max-width: 991px) {
    @rules();
  }
}

.phones (@rules) {
  @media screen and (max-width: 767px) {
    @rules();
  }
}

.fontAwesome {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}

body {
}

#header {
  background: #225885 url(../images/bg-pattern.png) 0 0 repeat;
  height: auto;
  padding: 15px 15px 20px 15px;

 .header_inner {
   background: none;
   height: auto;
   padding: 0;
 }

  .header_content {
    height: auto;
    padding: 0;

    .header_exit_slogan {
      color: #ffffff;
      font-size: 118px;
      line-height: 1;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      text-shadow: 3px 0 3px rgba(0, 0, 0, 0.3);

      .tablets({
        font-size: 64px;
      });
      .phones({
        font-size: 32px;
      });
    }


  }
}

#wrapper {
  min-height: 100%;
  background: #292b29 url(../images/exit-bg.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

}

* html #wrapper {
  height: 100%;
}


#container {

  .phones({
    padding-bottom: 20px;
  });
}



.section {

  &.section_exit_page {
    .section_container {
      text-align: center;
      padding-top: 40px;

      .phones({
        padding-top: 20px;
      });
    }
    .section_content {
      width: 100%;

      .section_title {
        .robotoCond;
        font-size: 44px;
        line-height: 1;
        text-transform: uppercase;
        color: #e4e7ed;
        font-weight: 300;
        font-style: italic;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
        margin-bottom: 40px;

        .phones({
          font-size: 32px;
          margin-bottom: 20px;
        });
      }

      .section_description {
        font-size: 24px;
        color: #ced6e2;
        font-weight: 300;
        margin-bottom: 50px;
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;

        .phones({
          font-size: 18px;
          margin-bottom: 25px;
        });

        span {
          font-weight: bold;
          text-decoration: underline;
          white-space: nowrap;
        }
      }
    }

    .reg_form {
      max-width: 405px;

      .title {
        font-size: 28px;
        font-weight: 300;
        color: #ced6e2;
        margin-bottom: 20px;
        text-transform: none;

        span {
          font-weight: bold;
          text-transform: uppercase;
          display: inline-block;
          color: #ced6e2;
          font-size: 28px;

        }
      }

      .form-control {
        text-align: center;
      }
    }
  }

}