.shadow_none {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.robotoCond {
  font-family: 'Roboto Condensed', sans-serif;
}
.fontAwesome {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}
#header {
  background: #225885 url(../images/bg-pattern.png) 0 0 repeat;
  height: auto;
  padding: 15px 15px 20px 15px;
}
#header .header_inner {
  background: none;
  height: auto;
  padding: 0;
}
#header .header_content {
  height: auto;
  padding: 0;
}
#header .header_content .header_exit_slogan {
  color: #ffffff;
  font-size: 118px;
  line-height: 1;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-shadow: 3px 0 3px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 991px) {
  #header .header_content .header_exit_slogan {
    font-size: 64px;
  }
}
@media screen and (max-width: 767px) {
  #header .header_content .header_exit_slogan {
    font-size: 32px;
  }
}
#wrapper {
  min-height: 100%;
  background: #292b29 url(../images/exit-bg.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
* html #wrapper {
  height: 100%;
}
@media screen and (max-width: 767px) {
  #container {
    padding-bottom: 20px;
  }
}
.section.section_exit_page .section_container {
  text-align: center;
  padding-top: 40px;
}
@media screen and (max-width: 767px) {
  .section.section_exit_page .section_container {
    padding-top: 20px;
  }
}
.section.section_exit_page .section_content {
  width: 100%;
}
.section.section_exit_page .section_content .section_title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 44px;
  line-height: 1;
  text-transform: uppercase;
  color: #e4e7ed;
  font-weight: 300;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .section.section_exit_page .section_content .section_title {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
.section.section_exit_page .section_content .section_description {
  font-size: 24px;
  color: #ced6e2;
  font-weight: 300;
  margin-bottom: 50px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .section.section_exit_page .section_content .section_description {
    font-size: 18px;
    margin-bottom: 25px;
  }
}
.section.section_exit_page .section_content .section_description span {
  font-weight: bold;
  text-decoration: underline;
  white-space: nowrap;
}
.section.section_exit_page .reg_form {
  max-width: 405px;
}
.section.section_exit_page .reg_form .title {
  font-size: 28px;
  font-weight: 300;
  color: #ced6e2;
  margin-bottom: 20px;
  text-transform: none;
}
.section.section_exit_page .reg_form .title span {
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  color: #ced6e2;
  font-size: 28px;
}
.section.section_exit_page .reg_form .form-control {
  text-align: center;
}
