@import "common.less";

@baseTextColor: #363636;
@linkColor: #3e5c76;
@hoverColor: darken(@linkColor, 20%);

a {
  color: @linkColor;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.robotoCond {
  font-family: 'Roboto Condensed', sans-serif;
}

.exo {
  font-family: 'Exo', sans-serif;
}

@font-face {
  font-family: 'Digital-7';
  src: url('./fonts/Digital-7.eot');
  src: url('./fonts/Digital-7.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Digital-7.woff2') format('woff2'),
  url('./fonts/Digital-7.woff') format('woff'),
  url('./fonts/Digital-7.ttf') format('truetype'),
  url('./fonts/Digital-7.svg#Digital-7') format('svg');
  font-weight: normal;
  font-style: normal;
}

.digital {
  font-family: 'Digital-7', serif;
}

.bodyFont {
  .robotoCond;
  font-size: 15px;
  font-weight: 300;
  color: @baseTextColor;
}

html, body {height: 100%;}

html {
  * {
    max-height: 999999px;
  }
}

body  {
  margin: 0;
  padding: 0;
  text-align: center;
  .bodyFont;
  min-width: 320px;
  position: relative;
  background-color: #fbfaf8;

  &.jv-page {
    background-color: #ffffff;
  }

  &.iframe_body {
    background: none;
    min-width: 0;
  }
}

a {
  color: @linkColor;
  cursor: pointer;
  text-decoration: none;
  .transition(all 0.1s);
  outline: 0;
  .transition(color 0.3s);

  &:hover {
    text-decoration: none;
    color: @hoverColor;
    outline: 0;
  }

  &:active,
  &:focus {
    outline: 0;
  }
}


img {border: 0;}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

.clear {clear: both;}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both !important;
    height: 0;
  }
  * html & {
    position: relative;
    zoom: 1
  }
  * + html & {
    position: relative;
    zoom: 1
  }
}

.trim_spaces {
  //overflow: hidden;
  text-align: center;

  &.left {
    text-align: left;
  }

  .scalable {
    display: inline-block;
    white-space: nowrap;
    .transform-origin(left top);

    &.middle {
      .transform-origin(left center);
    }
  }


}

#wrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

#header {
  width: 100%;
  position: relative;
  z-index: 2;
  height: auto;
  .clearfix;

  .phones({
    height: auto;
  });

  .header_inner {
    padding: 0 15px;
    width: 100%;

    .phones({
      height: auto;
      padding: 0 10px;
    });
  }


  .header_content {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    .clearfix;
    padding: 22px 0;

    .phones({
      height: auto;
      padding: 10px 0;
    });

    .header_slogan {
      font-size: 30px;
      margin-left: 240px;
      font-style: italic;
      color: #fe1b1b;
      text-align: left;

      .tablets({
        margin-left: 0;
        margin-top: 10px;
      });

      .phones({
        font-size: 18px;
        margin-bottom: 20px;
      });
    }

    #logo {
      a {
        text-indent: -10000px;
        display: block;
        background: url(../images/logo.png) 0 0 no-repeat;
        width: 217px;
        height: 34px;
        float: left;

        .tablets({
          float: none;
        });
      }

      &.jv {
        a {
          background: url(../images/logo-jv.png) 0 0 no-repeat;
          width: 185px;
          height: 30px;
        }
      }
    }
  }
}

.safe {
  text-align: center;
  img {
    max-width: 100%;
    margin: 0 auto;
  }
}


#container {
  position: relative;
  z-index: 1;
}

#footer {
  position: relative;
  z-index: 2;
  width: 100%;
  min-width: 320px;
  color: #5f646c;
  font-weight: 300;
  font-size: 12px;
  padding: 20px 15px;
  text-align: center;
  background-color: #fbfaf8;
  .roboto;

  .footer_content {
    width: 100%;
    margin: 0 auto;
    max-width: 980px;



    .footer_note {
      margin: 0 50px 20px 50px;
      text-align: left;

      &.members-page {
        padding-top: 20px;
        border-top: 2px solid #cdcdcd;
      }


      .tablets({
        margin: 0 0 20px 0;
      });

      p {
        margin: 0 0 1em 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}


.footer_nav {
  margin: 0 auto;
  text-align: center;
  font-size: 14px;

  li {
    display: inline-block;
    padding-right: 15px;
    margin-right: 10px;
    border-right: 1px solid #c0c0c0;
    line-height: 0.8;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }

    a {
      color: #9c9c9c;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.section {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  position: relative;

  .section_container {
    max-width: 1120px;
    padding: 20px 0;
    margin: 0 auto;
    .clearfix;
    position: relative;
  }

  &.section-steps {
    background-color: #696f71;

    .section_title {
      font-size: 48px;
      font-style: italic;
      line-height: 1;
      color: #ffffff;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
      margin-bottom: 20px;

      b {
        text-transform: uppercase;
        color: #dbe6ed;
        font-weight: bold;
      }

      span {
        text-transform: uppercase;
        font-weight: bold;
        color: #d9fdc7;
      }

      .phones({
        font-size: 22px;
      });
    }
  }

  &.section-support {
    padding-top: 30px;
    .roboto;

    .section_container {
      max-width: 555px;
      padding-left: 125px;
      background: url(../images/support.png) 0 0 no-repeat;
      text-align: left;

      .phones({
        padding-left: 0;
        padding-top: 125px;
        background-position: 50% 0;
      });
    }

    .section_title {
      font-style: italic;
      font-weight: bold;
      font-size: 60px;
      line-height: 1;
      color: #919a9f;
      margin-bottom: 10px;

      .phones({
        text-align: center;
      })
    }

    .section_description {
      font-size: 18px;
      color: #36434f;
      margin-bottom: 15px;
    }

    .support-contacts {
      font-size: 18px;
      color: #36434f;

      a {
        font-size: 24px;
        color: #9552e6;
      }
    }
  }

  &.section-jv {

    &.section-jv-intro {
      background: #555b5d url(../images/big-money.jpg) 50% 0 no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      padding: 0;

      .section_container {
        background: url(../images/notebook-bg.png) 42% 0 no-repeat;
        padding-top: 80px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 40px;
      }

      .section_title {
        line-height: 1;
        font-size: 76px;
        color: #05e100;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;

        span {
          color: #fe3737;
        }
      }
    }

    &.section_reasons {
      .section_container {
        padding-top: 40px;
      }

      .section_title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 42px;
        color: #3c3c3c;
        line-height: 1;
        margin-bottom: 20px;

        .phones({
          font-size: 21px;
        });
      }
    }

    &.section_contest {

      .section_container {
        padding-bottom: 30px;
      }

      .section_title {
        font-size: 42px;
        font-weight: bold;
        line-height: 1;
        color: #3c3c3c;
        margin-bottom: 20px;

        span {
          text-transform: uppercase;
        }

        .phones({
          font-size: 21px;
        });
      }

      img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }

      .section_subtitle {
        font-weight: normal;
        font-size: 30px;
        color: #00af10;
        margin-bottom: 10px;

        .phones({
          font-size: 18px;
        });

        span {
          font-weight: bold;
        }
      }
    }

    &.section_jv_form {
      background: #555b5d url(../images/big-money.jpg) 50% 0 no-repeat;
      -webkit-background-size: cover;
      background-size: cover;

      .section_container {
        padding-bottom: 30px;
      }

      .section_title {
        font-style: italic;
        font-size: 40px;
        line-height: 1;
        color: #ffffff;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
        margin-bottom: 20px;

        .phones({
          font-size: 20px;
        });

        span {
          font-weight: bold;
          color: #d9fdc7;
        }
      }

      .jv_form {
        margin: 0 auto 20px auto;
        max-width: 680px;
        padding: 15px;
        background-color: #313536;
        background: rgba(0, 0, 0, 0.5);
        text-align: left;
        .radius(8px);

        .form-group {
          margin-bottom: 15px;

          &.skype {
            .form-control {
              padding-left: 40px;
              background: #FFF url(../images/icon_skype.png) no-repeat scroll 5px 50%;
            }
          }
        }

        .form-control {
          height: 44px;
          font-size: 21px;
        }

      }
    }

    &.section_media {
      background-color: #f3f3f3;

      .section_container {
        padding: 40px 0;
      }

      .section_title {
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 40px;
        font-size: 42px;
        font-weight: bold;
        color: #3c3c3c;

        .phones({
          font-size: 21px;
        });

      }
    }

    &.section_email_swipes {
      .section_container {
        max-width: 960px;
        padding-bottom: 30px;
      }

      .section_title {
        margin-top: 40px;
        font-size: 36px;
        font-weight: bold;
        line-height: 1;
        color: #3c3c3c;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 20px;

        .phones({
          font-size: 18px;
        });
      }
    }
  }

  &.section-check-spots {
    background: #4e5457 url(../images/money-bg.jpg) 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    .section_container {
      padding: 10px 0;
      .clearfix;
      max-width: 1020px;
    }

    &.members-page {
      .section_container {
        max-width: 1120px;
      }
    }

    .controls {
      float: left;
      margin-top: 20px;
      position: relative;
      text-align: center;

      .tablets({
        float: none;
        margin-left: auto;
        margin-right: auto;
      });

      .phones({
        margin-left: -15px;
        margin-right: -15px;
      });

      &.members-page {
        margin-top: 15px;
        &:before {
          background: none;
        }
      }

      &:before {
        content: '';
        display: block;
        background: url(../images/bg-arrow.png) 0 0 no-repeat;
        width: 170px;
        height: 114px;
        position: absolute;
        left: -182px;
        top: 50%;
        margin-top: -57px;
      }

      .harry {
        background: url(../images/harry-arrow.png) 0 0 no-repeat;
        width: 384px;
        height: 114px;
        line-height: 106px;
        white-space: nowrap;
        padding-left: 20px;
        padding-right: 40px;

        .tablets({
          margin-left: auto;
          margin-right: auto;
        });

        .phones({
          padding-left: 5px;
        });

        span {
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          margin-right: -4px;
          line-height: 1;
          font-style: italic;
          text-transform: uppercase;
          font-weight: bold;
          white-space: normal;
          text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4);

          &:first-child {
            font-size: 36px;
            color: #36434f;
            font-weight: bold;
            width: 50%;
          }

          &.spl_num {
            font-size: 70px;
            color: #dd0d0d;
            width: 25%;
          }

          &:last-child {
            color: #36434f;
            font-size: 28px;
            width: 25%;
            text-align: left;
          }
        }
      }

      .check_spots {
        display: inline-block;
        .radius(5px);
        text-align: left;
        background: url(../images/check-button-bg.png) 0 0 repeat-x;
        width: 350px;
        height: 88px;
        line-height: 82px;
        padding-left: 10px;
        padding-right: 10px;
        .shadow(2px 0 4px, rgba(0, 0, 0, 0.2));
        position: relative;

        &:hover {
          background-position: 0 -88px;
        }

        &.active {
          background: #58d148 url(../images/check-button-active.png) 0 0 repeat-x;

          .button-text {
            width: 90px;
            padding-left: 0;
            background: none;
            text-align: center;
            height: auto;
          }

          .button-arrow {
            background: url(../images/spots-res-arrow.png) 0 0 no-repeat;
            width: 257px;
            height: 114px;

            > span {
              padding-right: 50px;
              background: url(../images/check.png) 100% 50% no-repeat;
              white-space: nowrap;

              span {
                font-size: 26px;
                color: #e16868;
                max-width: 80px;
                display: inline-block;
                white-space: normal;
                text-align: left;
                line-height: 0.8;

                &.free-spots {
                  display: inline-block;
                  font-size: 56px;
                  color: #00af10;
                  margin-right: 10px;
                }
              }
            }
          }
        }

        .button-text {
          width: 150px;
          display: inline-block;
          vertical-align: middle;
          color: #36434f;
          font-size: 18px;
          font-weight: bold;
          font-style: italic;
          padding-left: 50px;
          height: 43px;
          line-height: 1.2;
          background: url(../images/check-icon.png) 0 50% no-repeat;
          text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
          text-transform: uppercase;

          &.go {
            width: 43px;
            height: 43px;
            overflow: hidden;
            background-position: 50% 50%;
            font-size: 0;
            position: relative;
            left: -4px;
          }
        }

        .button-arrow {
          position: absolute;
          right: -2px;
          top: 50%;
          margin-top: -54px;
          background: url(../images/spots-arrow.png) 0 0 no-repeat;
          width: 183px;
          height: 114px;
          line-height: 108px;
          padding-left: 30px;
          padding-right: 15px;
          text-align: right;

          > span {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
            text-align: center;
            font-size: 26px;
            color: #cb4f50;
            font-weight: bold;
            text-transform: uppercase;
            font-style: italic;

            span {
              font-size: 30px;
            }
          }
        }
      }

    }


    .description {
      margin-left: 430px;
      text-align: left;

      .tablets({
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
      });

      .title {
        font-style: italic;
        font-size: 45px;
        color: #ffffff;
        line-height: 1.1;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        margin-bottom: 10px;

        .phones({
          font-size: 22px;
        });

        span {
          text-transform: uppercase;
          font-weight: bold;
          color: #d9fdc7;

          &.sel {
            font-weight: 900;
            color: #00ec16;
            text-decoration: underline;
          }
        }

      }

      .desc {
        font-style: italic;
        font-size: 16px;
        color: #fefefe;

        span {
          color: #d9fdc7;
          font-weight: bold;
          text-transform: uppercase;
        }
      }

    }
  }

  &.setion_map {
    padding: 0;

    .section_container {
      padding: 40px 0;
    }

    .section_title {
      font-size: 36px;
      font-weight: bold;
      color: #3c3c3c;
      text-align: center;
      margin-bottom: 40px;
      line-height: 1;
      text-transform: uppercase;
      margin-left: 15px;
      margin-right: 15px;

      &:before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        background: url(../images/map-title.png) 0 0 no-repeat;
        vertical-align: middle;
        width: 105px;
        height: 62px;

        .phones({
          width: 52px; height: 31px;
          -webkit-background-size: 52px 31px;
          background-size: 52px 31px;
        });
      }

      .phones({
        font-size: 22px;
      });
    }
  }

  &.section_member_steps {
    padding: 0;
    .section_container {
      padding: 25px 0 0 0;
    }
  }

  &.section_members_profits {
    background-color: #f3f3f3;

    .section_container {
      padding: 40px 0;
    }

    .section_title {
      font-size: 36px;
      color: #3c3c3c;
      text-align: center;
      margin-bottom: 40px;
      line-height: 1;

      span {
        text-transform: uppercase;
        font-weight: bold;
      }

      .phones({
        font-size: 22px;
      });

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background: url(../images/profits-title.png) 0 0 no-repeat;
        width: 63px;
        height: 63px;
        margin-right: 10px;

        .phones({
          width: 31px;
          height: 31px;
          -webkit-background-size: 31px 31px;
          background-size: 31px 31px;
        });
      }

    }
  }

  &.section_video {
    .phones({
      padding: 0;
    });

    .section_container {
      padding-top: 0;
      z-index: 3;

      .phones({
        padding-top: 0;
      });
    }

    .video {
      background: #fff;
      .radius(5px);
      .shadow(0 3px 8px, rgba(0, 0, 0, 0.8));
      padding: 12px;
      margin-bottom: 20px;
      position: relative;
      z-index: 3;

      .phones({
        padding: 0;
        .shadow_none();
        .radius(0);
        margin-bottom: 5px;
      });
    }

    .member_steps {
      background-color: #696f71;
      margin-top: -25px;
      margin-bottom: 0;
      position: relative;
      z-index: 2;
      overflow: hidden;
      .radius(0 0 5px 5px);
      .clearfix;

      .phones({
        padding-top: 20px;
        .radius(0);
        margin-bottom: 20px;
      });

      li {
        float: left;
        width: 33%;
        height: 80px;
        text-align: left;
        white-space: nowrap;
        padding-top: 10px;

        .phones({
          float: none;
          width: auto;
          background: none !important;
          height: auto;
          padding-bottom: 10px;
        });

        .num {
          width: 15%;
          display: inline-block;
          vertical-align: middle;
          font-size: 60px;
          line-height: 1;
          color: #dbe6ed;
          font-weight: bold;
          font-style: italic;
          text-align: center;
        }

        .desc {
          display: inline-block;
          vertical-align: middle;
          width: 85%;
          padding-left: 10px;
          font-size: 17px;
          font-style: italic;
          color: #dbe6ed;
          white-space: normal;
          padding-right: 20px;
          line-height: 1.1;
        }

        &:nth-child(1) {
          background: url(../images/ms1.png) 100% 50% no-repeat;
        }
        &:nth-child(2) {
          background: #f5f8fa url(../images/ms2.png) 100% 50% no-repeat;

          .num {
            color: #477a9b;
            .phones({
              color: #dbe6ed;
            });
          }

          .desc {
            color: #36434f;
            .phones({
              color: #dbe6ed;
            });
          }


        }
      }
    }

    .reg_form {
      margin-bottom: 20px;

      .tablets({
        padding-top: 60px;
      });

      .phones({
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
      });

      &:before {
        content: '';
        display: block;
        background: url(../images/top-arrow.png) 0 0 no-repeat;
        width: 111px;
        height: 80px;
        top: -78px;
        left: 50%;
        margin-left: -55px;
        position: absolute;

        .tablets({
          top: -20px;
        });

        .phones({
          display: none;
        });

      }

      .title {
        .phones({
          font-size: 16px;
          margin-bottom: 5px;
        });
      }
      .description {
        .phones({
          font-size: 14px;
          margin-bottom: 5px;
        });
      }
    }

    .safe {
      margin-bottom: 20px;

      img {
        max-width: 100%;
      }
    }

  }

  &.section_socials {
    background-color: #eff1f4;

    .section_container {
      padding: 20px 0 30px 0;
      text-align: center;

      .section_title {
        font-size: 36px;
        line-height: 1;
        margin-bottom: 20px;
        color: #3c3c3c;

        .phones({
          font-size: 18px;
        });

        span {
          text-transform: uppercase;
          font-weight: bold;
          white-space: nowrap;
        }
        &:before {
          content: '';
          display: inline-block;
          background: url(../images/social-callback-title.png) 0 0 no-repeat;
          width: 61px;
          height: 61px;
          margin-right: 15px;
          vertical-align: middle;

          .phones({
            width: 30px;
            height: 30px;
            -webkit-background-size: 30px 30px;
            background-size: 30px 30px;
          });

        }
      }


      img {
        display: inline-block;
        max-width: 100%;
        margin: 0 0 20px 0;
      }
    }

  }

  &.section_logos {
    img {
      display: inline-block;
      vertical-align: middle;
      margin: 20px 10px;
    }
  }

  &.section_stephen {
    text-align: left;

    .section_container {
      padding: 30px 0;
    }
  }

  &.section_faq {
    background-color: #eff1f4;

    .section_container {
      padding: 20px 0 40px 0;
    }

    .section_title {
      font-size: 36px;
      color: #3c3c3c;
      line-height: 1;
      text-align: center;
      margin-bottom: 20px;

      &:before {
        margin-right: 15px;
        content: '';
        display: inline-block;
        vertical-align: middle;
        background: url(../images/faq-title.png) 0 0 no-repeat;
        width: 89px;
        height: 61px;

        .phones({
          width: 45px;
          height: 30px;
          -webkit-background-size: 45px 30px;
          background-size: 45px 30px;
        });
      }

      span {
        font-weight: bold;
      }

      .phones({
        font-size: 18px;
      });

    }
  }

  &.section-features {
    .section_title {
      font-weight: bold;
      font-size: 36px;
      color: #3c3c3c;
      margin-bottom: 20px;
      text-align: center;

      .phones({
        font-size: 18px;
      });

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background: url(../images/features-title.png) 0 0 no-repeat;
        width: 47px;
        height: 63px;
        margin-right: 15px;

        .phones({
          width: 24px;
          height: 32px;
          -webkit-background-size: 24px 32px;
          background-size: 24px 32px;
        });
      }
    }

    .section_description {
      font-size: 26px;
      text-align: center;
      max-width: 860px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      font-weight: 300;
      line-height: 1.2;

      .phones({
        font-size: 18px;
      });
    }
  }

  &.section_reg {
    background: #4e5457 url(../images/money-bg.jpg) 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    .section_container {
      padding: 30px 0;
    }

    .safe {
    }

    &.members_page {

      .section_title {
        font-size: 46px;
        font-weight: bold;
        color: #d9fdc7;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        margin-bottom: 20px;
        text-transform: uppercase;

        .phones({
          font-size: 22px;
        });

      }

      .section_description {
        max-width: 370px;
        text-align: center;
        font-size: 20px;
        color: #ffffff;
        line-height: 1.1;
        margin-bottom: 20px;
      }
    }



    .section_title {
      font-size: 34px;
      color: #d9fdc7;
      line-height: 1.1;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 10px;
      text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.6);

      .phones({
        font-size: 24px;
      });
    }

    .section_subtitle {
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 15px;

      span {
        font-weight: bold;
      }
    }

    .section_description {
      font-size: 20px;
      color: #ffffff;
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;

      span {
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    .reg_form {
      max-width: 640px;
      margin-bottom: 25px;

      .form-group {
        margin-bottom: 15px;
      }

      .form-control {
        text-align: center;
      }
    }

    &.member_page {
      .section_title {
        font-weight: 300;
        text-transform: none;
        font-size: 42px;
        color: #d4d4d4;
        line-height: 1;

        .phones({
          font-size: 21px;
        });

        > span {
          font-weight: bold;
          font-size: 48px;

          .phones({
            font-size: 24px;
          });

          span {
            color: #e26700;

            &:last-child {
              text-transform: uppercase;
            }
          }
        }

      }

      .reg_form {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 20px;
        background: none;
      }
    }
  }


  &.section_testimonials {

    .section_container {
      text-align: left;
    }

    .section_title {
      text-align: center;
      font-weight: bold;
      font-size: 48px;
      line-height: 1;
      color: #e26700;
      margin-bottom: 30px;

      .phones({
        font-size: 34px;
      });

    }
  }


  &.section_steps {
    .section_container {
      text-align: left;
    }
  }
}

.reg_iframe {
  width: 100%;
  background: transparent;
  max-width: 372px;
  margin-left: auto;
  margin-right: auto;
  height: 320px;
}

.reg_iframe_widget {
  width: 100%;
  background: transparent;
  height: 100px;
  margin: 0;
  padding: 0;

}

.reg_form_inner {
  max-width: 99%;
  margin-left: auto;
  margin-right: auto;
  .form-group {
    .clearfix;
    margin-bottom: 15px;

    .form-group {
      .clearfix;
      margin-bottom: 0;

      &:first-child {
        width: 25%;
        float: left;
      }

      &:last-child {
        width: 75%;
        float: right;
        padding-left: 5px;
      }
    }
  }

  .buttons {

    .button {
      width: 100%;
    }
  }

  &.members_page {

    > .form-group {
      margin-bottom: 5px;

    }

    .form-control {
      color: #363636;
      font-size: 21px;
      height: 52px;
      .radius(5px);
      border-color: #3c3c3c;

      .phones({
        height: 42px;
        font-size: 18px;
      });
    }

    .description {
      font-size: 22px;
      margin-bottom: 5px;

      .phones({
        font-size: 16px;
      });

      b {
        text-transform: none;
      }

      span {
        font-weight: bold;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }

}

.reg_form {

  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 360px;

  .tablets({
    margin: 0 auto 15px auto;
  });

  .title {
    font-weight: bold;
    .robotoCond;
    font-size: 26px;
    color: #00af10;
    line-height: 1.3;
    margin-bottom: 10px;
    text-transform: uppercase;

    span {
      font-size: 32px;
      color: #fe1b1b;
      text-transform: uppercase;
      white-space: nowrap;
      .phones({
        font-size: 22px;
      });

    }

    .phones({
      font-size: 18px;
    });

  }

  .description {
    font-weight: 300;
    font-size: 16px;
    color: #36434f;
    line-height: 1.3;
    margin-bottom: 20px;

    span {
      text-transform: uppercase;
      font-weight: bold;
    }

    .phones({
      font-size: 16px;
    });

  }

  .form-group {
    .clearfix;
    margin-bottom: 15px;

    .form-group {
      .clearfix;
      margin-bottom: 0;

      &:first-child {
        width: 25%;
        float: left;
      }

      &:last-child {
        width: 75%;
        float: right;
        padding-left: 5px;
      }
    }
  }

  .buttons {

    .button {
      width: 100%;
    }
  }

  &.members_page {

    > .form-group {
      margin-bottom: 5px;

    }

    .form-control {
      color: #363636;
      font-size: 21px;
      height: 52px;
      .radius(5px);

      .phones({
        height: 42px;
        font-size: 18px;
      });
    }


    .title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 49px;
      color: #fe1b1b;
      line-height: 1;

      .phones({
        font-size: 22px;
      });

      span {
        display: block;
        color: #00af10;
        font-size: 36px;

        .phones({
          font-size: 18px;
        });

      }
    }

  }

}

.form-group {
  margin-bottom: 10px;

  label {
    display: none;
  }
  .control-label {
    display: none;
  }
}

.form-control {
  color: #363636;
  font-size: 18px;
  height: 55px;
  .radius(5px);
  font-weight: 300;

  &::-webkit-input-placeholder {
    color: #929292;
    opacity: 1
  }
  &::-moz-placeholder          {
    color: #929292;
    opacity: 1
  }/* Firefox 19+ */
  &:-moz-placeholder           {
    color: #929292;
    opacity: 1
  }/* Firefox 18- */
  &:-ms-input-placeholder      {
  }

  &:focus::-webkit-input-placeholder {color: transparent}
  &:focus::-moz-placeholder          {color: transparent}
  &:focus:-moz-placeholder           {color: transparent}
  &:focus:-ms-input-placeholder      {color: transparent}
}


//exit popup

.exit_popup {
  position: fixed;
  z-index: 150;
  display: none;
  width: 100%;
  height: 100%;

  .exit_popup_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
    z-index: 15;
  }

  .popup_inner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 16;

    .popup_content {
      margin: 70px auto;
      background: #2e6594 url(../images/bg-pattern2.png) 0 0 repeat;
      width: 426px;
      height: auto;
      .radius(10px);
      .shadow(0 2px 20px, rgba(0, 0, 0, 0.9));
      color: #13171a;


      .popup_content_inner {
        position:relative;
        text-align:center;
        padding: 20px 30px 30px 30px;

        > .title {
          .robotoCond;
          font-size: 120px;
          line-height: 1;
          text-transform: uppercase;
          color: #fefefe;
          font-weight: bold;
          font-style: italic;
          margin-bottom: 5px;
          text-align: center;
        }

        .subtitle {
          text-align: center;
          font-weight: 300;
          font-style: italic;
          .robotoCond;
          font-size: 36px;
          color: #fefefe;
          line-height: 1;
          margin-bottom: 20px;
          text-transform: uppercase;
          letter-spacing: 2px;

        }

        .description {
          margin-left: -30px;
          margin-right: -30px;
          padding: 10px 30px;
          background: #21231f 50% 0 no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
          font-size: 24px;
          color: #ced6e2;
          line-height: 1.1;
          margin-bottom: 15px;

          span {
            font-weight: bold;
            text-decoration: underline;
          }
        }


        .popup_form {
          .clearfix;

          .title {
            font-size: 24px;
            line-height: 1;
            color: #ced6e2;
            margin-bottom: 15px;

            span {
              text-transform: uppercase;
              font-weight: bold;
            }
          }

          .form-group {
            margin-bottom: 15px;

            .form-control {
              border: 1px solid #097300;
              height: 55px;
              text-align: center;
              font-size: 18px;
              color: #363636;

              &::-webkit-input-placeholder {
              }
              &::-moz-placeholder          {
                opacity: 1
              }/* Firefox 19+ */
              &:-moz-placeholder           {
                opacity: 1;
              }/* Firefox 18- */
              &:-ms-input-placeholder      {
              }

              &:focus::-webkit-input-placeholder {color: transparent}
              &:focus::-moz-placeholder          {color: transparent}
              &:focus:-moz-placeholder           {color: transparent}
              &:focus:-ms-input-placeholder      {color: transparent}

            }
          }

          .buttons {

            .button {
              width: 100%;
            }
          }
        }

        a {
          &.close_button {
            position:absolute;
            right: 10px;
            top: 10px;
            display:inline-block;
            cursor:pointer;
            color: #ffffff;
            background: url(../images/close-button.png) 0 0 no-repeat;
            width: 18px;
            height: 17px;
            opacity: 0.4;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

//end exit popup

.button {
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  color: #36434f;
  .robotoCond;
  font-weight: bold;
  font-size: 34px;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4);
  border-bottom: 6px solid #b88302;
  .radius(4px);
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  .gradient(#ecbe23, to bottom, #fee144, #dba007);
  height: 67px;
  line-height: 61px;
  .shadow(0 2px 4px, rgba(0, 0, 0, 0.2));
  padding-left: 40px;
  padding-right: 40px;

  .phones({
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
  });


  &:before {
    content: '';
    display: block;
    background: url(../images/button-go-arrows.png) 0 0 no-repeat;
    width: 31px;
    height: 50px;
    position: absolute;
    left: -1px;
    top: 50%;
    margin-top: -25px;
  }
  &:after {
    content: '';
    display: block;
    background: url(../images/button-go-arrows.png) -31px 0 no-repeat;
    width: 31px;
    height: 50px;
    position: absolute;
    right: -1px;
    top: 50%;
    margin-top: -25px;
  }

  &:focus,
  &:active,
  &:hover {
    .gradient(#ecbe23, to top, #fee144, #dba007);
    text-decoration: none;
    outline: 0;
  }

  &.button-lg {
    height: 88px;
    line-height: 82px;
  }

  &.button-limited {
    position: relative;

    &:before,
    &:after {
      display: none;
    }

    > span {
      background: url(../images/button-left-arrow.png) 0 0 no-repeat;
      width: 173px;
      height: 114px;
      position: absolute;
      left: -2px;
      top: 50%;
      margin-top: -52px;
      font-weight: bold;
      font-style: italic;
      color: #cb4f50;
      font-size: 18px;
      line-height: 1;
      padding-left: 70px;
      text-align: left;
      padding-top: 20px;

      .phones({
        display: none;
      });

      &:before {
        content: '';
        display: block;
        position: absolute;
        background: url(../images/red-clock-icon.png) 0 0 no-repeat;
        width: 50px;
        height: 60px;
        left: 15px;
        top: 50%;
        margin-top: -35px;

      }


      span {
        font-size: 28px;
        display: block;
      }
    }

  }


}


.stephen_wrapper {
  background: #fff;
  .radius(5px);
  .shadow(0 3px 8px, rgba(0, 0, 0, 0.8));
  padding: 40px;

  .tablets({
    padding: 15px;
  });

  > img {
    float: left;
    max-width: 100%;
    display: block;

    .tablets({
      margin-right: 20px;
      margin-bottom: 20px;
    });

    .phones({
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    });
  }

  .stephen_descrtiption  {
    margin-left: 315px;

    .tablets({
      margin-left: 0;
    });

    .phones({
      margin-left: 0;
    });

    .title {
      font-weight: bold;
      font-size: 36px;
      line-height: 1;
      margin-bottom: 20px;
      color: #3c3c3c;

      .phones({
        font-size: 34px;
      });

    }

    .subtitle {
      color: #707d85;
      font-size: 21px;
      margin-bottom: 15px;
      line-height: 1;

      .phones({
        font-size: 18px;
      });

    }

    .content {
      font-size: 16px;
      color: #131313;
    }

    .sign {
      text-align: left;
      margin: 10px 0;

      img {
        display: inline-block;
      }
    }


  }

  &.members_page {
    .subtitle {
      font-weight: 300;
    }

    .content {
      font-size: 16px;
    }
  }
}

.testimonials_wrapper {
  .clearfix;
  margin-left: -8px;
  margin-right: -8px;

  .tablets({
    margin: 0;
  });

  .testimonials_list {
    width: 33%;
    float: left;
    padding-right: 8px;
    padding-left: 8px;

    .tablets({
      padding: 0;
      float: none;
      width: auto;
    });
  }
}

.total_members_profit {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #e26700;
  line-height: 1;

  span {
    font-size: 48px;
    color: #14b108;

    .phones({
      font-size: 34px;
    });

  }
}

.faq_list {
  margin: 0;

  .phones({
    margin-left: -15px;
    margin-right: -15px;
  });

  li {
    text-align: left;
    margin-bottom: 2px;
    .radius(5px);
    overflow: hidden;
    background-color: #ffffff;

    .phones({
      .radius(0);
    });


    .question {
      color: #3c3c3c;
      font-size: 20px;
      line-height: 1.1;
      font-weight: bold;
      background-color: #cdcccc;
      padding: 15px 25px;
      position: relative;
      cursor: pointer;

      .phones({
        .radius(0);
        padding: 15px 10px;
      });

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background: url(../images/faq-list-title-bg.png) 0 0 no-repeat;
        width: 26px;
        height: 25px;
        margin-right: 10px;
        margin-top: -3px;
      }
    }

    .answer {
      display: none;
      padding: 10px 25px;
      font-weight: 300;
      font-size: 18px;
      color: #3c3c3c;
      line-height: 1.2;

      .phones({
        padding: 15px 10px;
      });
    }

    &.open {
      .question {
        &:after {
          background-position: 0 -25px;
        }
      }
    }
  }

}

.table-striped {
  > tbody {
    > tr:nth-of-type(2n) {
      background-color: #ebeff4;
    }
  }
}

.table {
  background-color: #ffffff;
  margin-bottom: 0;
  > thead {
    > tr {
      > th {
        vertical-align: bottom;
        border-bottom: none;
        text-transform: uppercase;
        background-color: #225885;
        color: #ced6e2;
        font-weight: bold;
        padding-left: 15px;
        font-size: 15px;
        white-space: nowrap;
      }
    }
  }
  > tbody {
    > tr {
      > td {
        border-top: none;
        padding-left: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #082a49;
        font-weight: normal;
        font-size: 15px;
        white-space: nowrap;
      }
    }
  }


  &.table-history {
    > tbody {
      > tr {
        > td {
          &.warning,
          &.success,
          &.danger {
            background: none;
            text-transform: uppercase;
            font-weight: bold;
          }

          &.warning {
            color: #ff0000;
          }
          &.danger {
            color: #A04D4E;
          }

          &.success {
            color: #10a900;
          }

          &:first-child {
            font-weight: bold;
          }

          &:last-child {
            font-size: 0;
            white-space: nowrap;

            &:before {
              .fontAwesome;
              content: '\f058';
              color: #fff;
              font-size: 15px;
              line-height: 1;
              position: relative;
              z-index: 2;
            }

            &:after {
              display: inline-block;
              color: #ffffff;
              padding: 3px 5px;
              min-width: 58px;
              font-size: 15px;
              line-height: 1;
              padding-left: 22px;
              margin-left: -17px;
              text-transform: uppercase;
              .radius();
              position: relative;
              z-index: 1;
            }

            &.success {
              &:after {
                content: 'won';
                background: #05ca00;
              }
            }

            &.danger {
              &:before {
                content: '\f057';
              }
              &:after {
                content: 'lost';
                background: #ee5050;
              }
            }
          }
        }
      }
    }

  }
}

.tabs_wrapper {
  text-align: left;

  .tabs_nav {
    .clearfix;
    position: relative;
    z-index: 1;
    margin: 0;

    li {
      float: left;
      width: 25%;
      position: relative;
      border: 1px solid #bdc0c2;
      background-color: #cdcdcd;
      .radius(5px 5px 0 0);
      overflow: hidden;
      .shadow(5px 0 0, rgba(0, 0, 0, 0.1));

      &.active {
        background: #fcfcfd;
      }

      a {
        display: block;
        padding: 15px;

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }

        img {
          float: left;
        }

        .desc {
          margin-left: 115px;

          .name {
            font-weight: bold;
            color: #363636;
            font-size: 21px;
            line-height: 1;
            margin-bottom: 10px;
            white-space: nowrap;
          }

          .profit {
            font-size: 20px;
            color: #919a9f;
            line-height: 1;

            div {
              display: block;
              white-space: nowrap;
              font-weight: bold;
              color: #00af10;
              font-size: 36px;
              line-height: 1;
            }
          }
        }

      }


      &:nth-child(1) {
        z-index: 4;
      }
      &:nth-child(2) {
        z-index: 3;
      }
      &:nth-child(3) {
        z-index: 2;
      }
      &:nth-child(4) {
        z-index: 1;
        .shadow_none;
      }
    }
  }

  .tab_item {
    display: none;
    position: relative;
    z-index: 2;
    overflow: hidden;
    .radius(5px);
    border: 1px solid #bdc0c2;
    top: -10px;
    margin-bottom: -10px;

    .grid-view {
      overflow: hidden;
      overflow-x: auto;
    }

    .tab_header {
      .clearfix;
      padding: 15px 25px;
      background-color: #1d2225;

      .stats {
        float: left;
        font-size: 18px;
        color: #f1f5f8;

        .stat_block {
          float: left;
          margin-right: 40px;

          &:last-child {
            margin-right: 0;
          }

          span {
            font-weight: bold;
            font-size: 24px;
            line-height: 1;
          }

          &.won {
            color: #05e100;
          }

          &.lost {
            color: #ff0d0d;
          }
        }
      }

      .controls {
        float: right;
        font-size: 16px;
        color: #d3d3d3;

        a {
          color: #d3d3d3;
          text-decoration: none;
          margin-right: 5px;
        }

        .update_status{
          display: inline-block;

          span {
            font-weight: bold;
          }
        }
      }
    }

  }
}

.map_wrapper {
  background: url(../images/map.png) 50% 0 no-repeat;
  min-height: 670px;
  position: relative;

  .map_item {
    background-color: #fff;
    background: rgba(255, 255, 255, 0.8);
    .radius(10px);
    .shadow(0 4px 6px, rgba(0, 0, 0, 0.3));
    border: 1px solid #c0c2c3;
    width: 100%;
    max-width: 330px;
    text-align: left;
    margin: 0 10px 20px 10px;
    position: absolute;

    &:after {
      content: '';
      display: block;
      position: absolute;
      background: url(../images/verigied-stamp.png) 0 0 no-repeat;
      width: 139px;
      height: 96px;
      left: -30px;
      top: -30px;
    }

    &:nth-child(1) {
      top: 0;
      left: 30px;
    }
    &:nth-child(2) {
      top: 305px;
      left: 65px;
    }
    &:nth-child(3) {
      top: 58px;
      left: 405px;
    }
    &:nth-child(4) {
      top: 20px;
      left: 772px;
    }
    &:nth-child(5) {
      top: 307px;
      left: 760px;
    }

    .tablets({
      position: relative;
      left: auto !important;
      top: auto !important;
      right: auto !important;
      bottom: auto !important;
      display: inline-block;
    });

    .info {
      padding: 10px 15px;
      .clearfix;

      > img {
        float: left;
      }

      .desc {
        margin-left: 100px;
        padding-top: 20px;

        .name {
          font-weight: bold;
          font-size: 21px;
          line-height: 1;
          color: #363636;
          margin-bottom: 5px;
        }

        .place {
          font-size: 18px;
          color: #717171;

          img {
            display: inline-block;
            position: relative;
            top: -1px;
          }
        }
      }
    }

    .content {
      padding: 0 15px 5px 15px;

      .start {
        color: #707d85;
        font-size: 20px;
        line-height: 1;
        padding: 5px 15px;
        margin-left: -15px;
        margin-right: -15px;
        background-color: #cdcdcd;
        white-space: nowrap;
        background: rgba(205, 205, 205, 0.64);

        span {
          font-size: 24px;
        }
      }

      .profit{
        padding: 5px 15px;
        margin-left: -15px;
        margin-right: -15px;
        font-size: 20px;
        color: #fff;
        line-height: 1;
        white-space: nowrap;
        margin-bottom: 5px;

        background-color: #00af10;
        background: rgba(0, 175, 16, 0.64);

        span {
          font-size: 40px;
          line-height: 1;
          font-weight: bold;
        }
      }

      .buttons {
        text-align: right;
      }
    }


  }


}

.button-verified {

  color: #9552e6;
  font-size: 18px;
  text-decoration: underline;
  text-transform: capitalize;
  .roboto;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url(../images/verified-button-icon.png) 0 0 no-repeat;
    width: 31px;
    height: 38px;
  }

  &:hover {
    color: #9552e6;
    text-decoration: none;
  }

}

.features_list {
  text-align: left;
  margin: 0;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;


  li {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 70px;

    &:nth-child(1) {
      background: url(../images/feature1.png) 0 0 no-repeat;
      .desc {
        max-width: 740px;
      }
    }
    &:nth-child(2) {
      background: url(../images/feature2.png) 0 0 no-repeat;

      .desc {
        max-width: 520px;
      }
    }
    &:nth-child(3) {
      background: url(../images/feature3.png) 0 0 no-repeat;

      .desc {
        max-width: 520px;
      }
    }
    &:nth-child(4) {
      background: url(../images/feature4.png) 0 0 no-repeat;

      .desc {
        max-width: 660px;
      }
    }

    .title {
      text-transform: uppercase;
      color: #00af10;
      font-weight: bold;
      font-size: 30px;
      line-height: 1;
      margin-bottom: 10px;

      .phones({
        font-size: 18px;
      });
    }

    .desc {
      font-size: 21px;
      color: #3c3c3c;
      line-height: 1.1;

      .phones({
        font-size: 16px;
      });
    }
  }
}

.waiting {
  font-style: italic;
  text-transform: uppercase;
  font-size: 26px;
  color: #3c3c3c;
  line-height: 1;
  text-align: center;
  letter-spacing: 2px;

  .phones({
    font-size: 18px;
    letter-spacing: normal;
  });

  span {
    font-weight: bold;
  }

  .pplace {
    color: #fe1b1b;
    font-size: 34px;

    .phones({
      font-size: 22px;
    });

  }

  .pnum {
    .digital;
    font-size: 42px;
    color: #fe1b1b;
    font-style: normal;

    .phones({
      font-size: 24px;
    });

  }
}

.to_top_button {
  display: none;
  position:fixed;
  z-index:10000;
  bottom:20px;
  right:20px;
  cursor:pointer;
  background: url(../images/upbutton.png) 0 0 no-repeat;
  width: 67px;
  height: 61px;
}

.launch_wrapper {
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
  .clearfix;

  .launch_block {
    width: 49%;
    margin-right: 2%;
    float: left;
    background-color: #055103;
    background: rgba(5, 195, 1, 0.4);
    .radius(8px);
    text-align: left;
    padding: 15px 15px 25px 15px;

    .phones({
      margin: 0;
      width: auto;
      margin-bottom: 20px;
      float: none;
    });

    &:last-child {
      margin-right: 0;
      background-color: #7c2121;
      background: rgba(254, 27, 27, 0.4);

      .description {
        text-transform: none;
        color: #bce2ac;
      }
    }

    .title {
      font-weight: bold;
      font-size: 28px;
      line-height: 1;
      color: #010101;
      margin-bottom: 20px;
      text-transform: uppercase;

      .phones({
        font-size: 18px;
      });
    }

    .description {
      font-weight: bold;
      font-size: 40px;
      line-height: 1;
      color: #d9fdc7;
      text-transform: uppercase;
      .phones({
        font-size: 22px;
      });
    }
  }
}

.reasons_list {
  margin: 0 auto;
  max-width: 830px;
  .clearfix;
  text-align: left;

  li {
    margin: 0 4% 30px 0;
    width: 48%;
    float: left;
    background-color: #eff1f4;
    .radius(8px);
    padding: 20px 20px 20px 25px;
    min-height: 253px;

    .tablets({
      min-height: 278px;
    });

    .phones({
      float: none;
      margin-right: 0;
      width: auto;
      height: auto;
      min-height: 0;
      margin-bottom: 15px;
    });

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(1) {
      .title_wrapper {
        background: url(../images/jv-reason1.png) 0 50% no-repeat;
      }
    }
    &:nth-child(2) {
      .title_wrapper {
        background: url(../images/jv-reason2.png) 0 50% no-repeat;
      }
    }
    &:nth-child(3) {
      .title_wrapper {
        background: url(../images/jv-reason3.png) 0 50% no-repeat;
      }
    }
    &:nth-child(4) {
      .title_wrapper {
        background: url(../images/jv-reason4.png) 0 50% no-repeat;
      }
    }

    .title_wrapper {
      margin-bottom: 10px;
      .clearfix;
      min-height: 57px;
      padding-left: 70px;

      .title {
        color: #00af10;
        font-size: 32px;
        font-weight: bold;
        overflow: hidden;
        line-height: 57px;

        span {
          display: inline-block;
          vertical-align: middle;
          line-height: 1.2;

        }

        .phones({
          font-size: 18px;
        });
      }

    }


    .description {
      font-size: 21px;
      line-height: 1.2;
      color: #363636;

      .phones({
        font-size: 16px;
      });
    }
  }
}

.custom-radio {
  label {
    white-space: nowrap;
    height: 44px;
    line-height: 44px;
    .radius(5px);
    padding: 0 5px;
    cursor: pointer;

    &.checked {
      background-color: #626262;

      &:before {
        background-position: 0 0;
      }
    }

    img {
      display: inline-block;
      vertical-align: middle;
    }

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      background: url(../images/custom-radio.png) 0 -30px no-repeat;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      margin-top: -3px;
    }

    input {
      display: none;
    }
  }
}

.button-jv {
  height: 71px;
  line-height: 65px;
  border: none;
  border-bottom: 6px solid #b98403;
  font-size: 38px;
  color: #36434f;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 0 30px;
  .gradient(#eabb20, to bottom, #ffe245, #db9e06);
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  .radius();

  .phones({
    font-size: 22px;
  });

  &:hover {
    .gradient(lighten(#eabb20, 10%), to top, #ffe245, #db9e06);
  }
}

.set_wrapper {
  text-align: left;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  .media {
    img {
      display: block;
      max-width: 100%;
      margin-bottom: 5px;
    }
    div {
      font-size: 18px;
      color: #353535;
    }
  }
}

.affiliate_link_wrapper {
  text-align: left;
  margin-bottom: 10px;

  .form-group {
    label,
    .control-label {
      display: block;
      font-weight: 300;
      font-size: 24px;
      color: #353535;
      margin-bottom: 5px;
    }

    .help-block {
      margin-top: 5px;
      color: #707070;
    }
  }

  .form-control {
    border-color: #323232;
    height: 44px;
    font-size: 16px;
    color: #353535;
  }
}

.affiliate_link_wrapper2 {
  background-color: #5a5a5a;
  padding: 10px 15px;
  .radius(8px);
  text-align: left;

  .form-group {
    padding-right: 160px;
    position: relative;

    .phones({
      padding-right: 0;
    });

    label,
    .control-label {
      display: block;
      font-weight: 300;
      font-size: 24px;
      color: #d4d4d4;
      margin-bottom: 5px;
    }

    .help-block {
      position: absolute;
      right: 0;
      bottom: 7px;
      margin: 0;

      .phones({
        position: relative;
        right: auto;
        bottom: auto;
        margin-top: 10px;
      });
    }
  }

  .form-control {
    border-color: #323232;
    height: 44px;
    font-size: 16px;
    color: #353535;
  }
}

.swipe_wrapper {
  background-color: #5a5a5a;
  .radius(8px);
  padding: 15px;
  text-align: left;

  .swipe_block {
    .form-control {
      font-size: 18px;
      color: #5a5a5a;
      line-height: 1.7;
    }

    .form-group {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      label,
      .control-label {
        font-weight: bold;
        color: #ffffff;
        font-size: 21px;
        line-height: 1;
        margin-bottom: 5px;
        display: block;
        text-transform: uppercase;
      }
    }

    &.subject {
      margin-bottom: 15px;

      textarea {
        height: 60px;
      }
    }

    &.message {
      textarea {
        height: 315px;
      }
    }
  }
}

.jv_nav {
  margin-left: 220px;
  text-align: left;
  padding-top: 5px;
  margin-bottom: 0;

  .tablets({
    margin-left: 0;
    margin-top: 10px;
  });

  li {
    display: inline-block;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid #575d60;

    .phones({
      font-size: 16px;
      padding-right: 15px;
      margin-right: 15px;
    });

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }

    a {

      color: #575d60;
    }
  }
}

.row1{
  margin:0;
  background-color: #919a9f;
  .radius(0 0 5px 5px);
  color: #eaebed;
}

/* PAGINATOR */

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: left !important;
  padding-top: 10px;
  .clearfix;

  .phones({
    float: none;
    padding-top: 0;
  });

}

.dataTables_info{
  color:#eaebed !important;
  font-size: 16px;
  font-weight: 300;
  padding:15px 10px !important;

  .phones({
    text-align: left;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 5px 0 0 0 !important;
  });
}

.dataTables_paginate{
  margin: 5px 20px;

  .phones({
    margin: 0 0 10px 0;
  });

}

.dataTables_paginate span{
  float:left !important;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button {
  font-size: 16px;
  font-weight: 300;
  color: #eaebed !important;
  position: relative;
  float: left;
  padding: 4px 8px;
  line-height: 1;
  margin: 0 2px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button:hover{
  color: #fff !important;
  font-weight: 300 !important;
  background: transparent !important;
  border:0px !important;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.current{
  color: #ffffff !important;
  font-weight: bold !important;
  cursor: default !important;
  background: #225885 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.4);
  border: 0px;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover{
  background: #0071b2 !important;
  color: #ffffff !important;
}


.dataTables_wrapper .dataTables_paginate a.paginate_button.previous,
.dataTables_wrapper .dataTables_paginate a.paginate_button.next{
  &.disabled {
    opacity: 0.5;

    &:hover {
      .shadow_none();
      background-color: transparent;
    }
  }
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.previous{
  text-indent: -10000px;
  width: 16px !important;
  height: 29px !important;
  padding: 3px 0px !important;
  background-repeat: no-repeat !important;
  background-image: url(../images/pb-pagination-arrows-white.png) !important;
  background-position: 0 0 !important;
  background-color: transparent;
  border:0px !important;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  margin-right: 10px;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.previous:hover{
  background-color: transparent;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.next{
  text-indent: -10000px;
  width: 16px !important;
  height: 29px !important;
  padding: 3px 0px !important;
  background-repeat: no-repeat !important;
  background-image: url(../images/pb-pagination-arrows-white.png) !important;
  background-position: -16px 0px !important;
  border:0px !important;
  background-color: transparent;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.next:hover{
  background-color: transparent;
}

.table {
  background-color: #ffffff;
  > tbody {
    > tr {
      > td {
        white-space: nowrap;
      }
    }
  }
}

.table > tbody > tr > td.warning,
.table > tbody > tr > td.success,
.table > tbody > tr > td.danger {
  background: none;
  text-transform: uppercase;
  font-weight: bold;
}
.table > tbody > tr > td.warning {
  color: #e41616;
  white-space: nowrap;
}
.table > tbody > tr > td.danger {
  color: #e41616;
  white-space: nowrap;
}
.table > tbody > tr > td.success {
  color: #10a900;
  white-space: nowrap;
}
.table > tbody > tr > td:last-child {
  font-size: 0;
}
.table > tbody > tr > td:last-child:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  content: '\f058';
  color: #fff;
  font-size: 15px;
  line-height: 1;
  position: relative;
  z-index: 2;
}
.table > tbody > tr > td:last-child:after {
  display: inline-block;
  color: #ffffff;
  padding: 3px 5px;
  min-width: 58px;
  font-size: 15px;
  line-height: 1;
  padding-left: 22px;
  margin-left: -17px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
}
.table > tbody > tr > td:last-child.success:after {
  content: 'won';
  background: #10a900;
}
.table > tbody > tr > td:last-child.danger:before {
  content: '\f057';
}
.table > tbody > tr > td:last-child.danger:after {
  content: 'lost';
  background: #e41616;
}

.more_steps {
  .clearfix;
  margin: 0;

  .tablets({
    text-align: left;
  });

  li {
    width: 25%;
    display: inline-block;
    margin-right: -4px;
    padding-right: 20px;
    background: url(../images/fl-step-sep.png) 100% 50% no-repeat;
    text-align: left;
    white-space: nowrap;
    min-height: 82px;
    line-height: 82px;
    vertical-align: middle;

    .tablets({
      margin-bottom: 20px;
      width: auto;
      background: none;
      line-height: normal;
      min-height: 0;
    });


    &:first-child {
      background: url(../images/fl-step1.png) 0 50% no-repeat;
      padding-left: 10px;
      padding-right: 25px;
      width: 256px;

      .tablets({
        width: auto;
        background: none;
      });

      .list_num {
        color: #477a9b;

        .tablets({
          color: #dbe6ed;
        });

      }

      .desc {
        color: #36434f;
        max-width: 210px;

        .tablets({
          color: #dbe6ed;
          max-width: none;
        });
      }
    }

    &:last-child {
      width: 50%;
      padding-right: 0;
      background: none;
      padding-left: 20px;

      .tablets({
        width: auto;
        padding-left: 0;
      });

    }

    .list_num {
      display: inline-block;
      vertical-align: middle;
      font-size: 60px;
      line-height: 1;
      color: #dbe6ed;
      font-weight: bold;
      font-style: italic;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
      width: 30px;
    }

    .desc {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
      font-style: italic;
      font-size: 18px;
      color: #dbe6ed;
      line-height: 1.1;
      white-space: normal;
    }
  }
}

.signup-widget {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: -151px;
  background: #4679a4 url(../images/bg-pattern2.png) 0 0 repeat-x;
  padding: 10px 15px 5px 15px;
  text-align: center;
  height: 151px;
  .transition(all 0.3s);

  &.shown {
    .transform(translate(0, 151px));
    .shadow(0 3px 3px, rgba(0, 0, 0, 0.2));
  }


  &.lp-widget {
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;

    .widget-inner {
      max-width: 1120px;
      text-align: center;
      white-space: nowrap;

      .title {
        display: inline-block;
        vertical-align: middle;
        font-size: 30px;
        margin-right: 30px;
        margin-bottom: 0;
      }

      .reg_form {

        .form-group {
          margin-bottom: 0;
        }

        &.widget-form {
          max-width: 580px;
          display: inline-block;
          vertical-align: middle;
          margin-bottom: 0;

          .row {
            margin-left: -5px;
            margin-right: -5px;
          }

          .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
            padding-left: 5px;
            padding-right: 5px;
          }
        }

        .form-control {
          height: 55px;
        }

        .button {
          height: 55px;
          line-height: 49px;
        }
      }
    }
  }

  .widget-inner {
    max-width: 952px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

    .title {
      text-transform: uppercase;
      font-style: italic;
      font-size: 24px;
      line-height: 1;
      color: #eff1f4;
      margin-bottom: 7px;
    }

  }
}

.reg_form{

  &.widget-form {
    width: 100%;
    max-width: none;
    margin-bottom: 5px;

    &.widget-form-inner {
      max-width: 99%;
      margin-bottom: 0;
    }

    .form-group {
      margin-bottom: 6px;

      .form-group {
        margin-bottom: 0;
      }
    }

    .row {
      margin-left: -3px;
      margin-right: -3px;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      padding-left: 3px;
      padding-right: 3px;
    }

    .form-control {
      height: 44px;
      display: block;
    }

    .button {
      height: 44px;
      line-height: 38px;
      font-size: 28px;

      &:after,
      &:before {
        display: none;
      }
    }
  }
}
